<!DOCTYPE html>
<html>

<head>

    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Faster.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ArtistPage.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>
   
    <div class="container">
        <main>
            <div class="row">
                <div class="left col-lg-4">
                    <div class="photo-left">
                        <img class="photo" src="/static/images/Profile Pictures/Maskharashvili.webp" />
                    </div>

                    <hr>
                    <div class="Section-Title">
                        <h1>Giorgi Maskharashvili</h1>
                    </div>
                    <hr>
                    
                    <p class="desc">
                        Giorgi Maskharashvili was born in Tbilisi in 1977.
                        He first studied at the Tbilisi Academy of Arts, Faculty of Easel Graphics,
                        and then at the Film Directing Faculty of the Georgian State University of
                        Theater and Film. Works as a film and television actor, director and artist. </p>

                    <div class="container">
                        <div class="social-icons">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right col-lg-8 verticalCenter">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"> <img src="1.jpg" /></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- Swiper JS -->
                    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script src="/static/js/swiper.js"></script>
                </div>
        </main>
    </div>




    <hr>
    <div id="footer"></div>

</body>

</html>