/*General Body Styling START*/

.container-hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy, Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #000000;
  background-color: white;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/GILROY.otf");
  font-display: swap;
}
@font-face {
  font-family: Drip;
  src: url("../fonts/drip.ttf");
  font-display: swap;
}

@font-face {
  font-family: Proxima-Nova;
  src: url("../fonts/Proxima-Nova.ttf");
  font-display: swap;
}

@font-face {
  font-family: Proxima-Bold;
  src: url("../fonts/Proxima-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: Gilroy_Heavy;
  src: url("../fonts/Gilroy-Heavy.ttf");
  font-display: swap;
}

@font-face {
  font-family: BentonSansRegular;
  src: url("../fonts/BentonSansRegular.otf");
  font-display: swap;
}

@font-face {
  font-family: BentonSansMedium;
  src: url("../fonts/BentonSansMedium.otf");
  font-display: swap;
}

@font-face {
  font-family: Reef;
  src: url("../fonts/Reef.otf");
  font-display: swap;
}

@font-face {
  font-family: geo;
  src: url("../fonts/bpg_glaho.ttf");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
.ge {
  font-family: geo;
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58);
  transition: all 2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/*Navigation WideScreen*/

nav {
  height: 6vh;
  min-height: 45px;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: Gilroy-Med;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 1px 10px #888888;
}

.hamburger {
  display: none;
}

.logo-container {
  display: none;
  height: 100%;
  margin-right: 0;
}

.nav-logo {
  margin-left: 40px;
  height: 100%;
  display: inline-block;
}

.logo-container {
  display: inline-block;
}

.inner-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inner-logo-container img {
  height: 85%;
}

.nav-links {
  padding: 0;
  display: flex;
  list-style: none;
  width: auto;
  height: 100%;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  float: right;
  background-color: white;
  font-family: Proxima-Nova;
  stroke-width: 1px;
}

.nav-links li a span {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    #000000 50%,
    #000000 60%,
    rgba(0, 0, 0, 0) 60%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 200ms linear;
}

.nav-links li a span:hover {
  background-size: 100% 100%;
  font-family: Proxima-Bold;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  transition: width 2s, height 2s, transform 0.5s;
}

.nav-links li {
  width: 100px;
  text-align: center;
  transition: width 2s, height 2s, transform 0.5s;
}

.nav-links li:hover {
  font-size: 1.3rem;
}

.scrolling-active {
  height: 7vh;
}

.scrolling-active .nav-links {
  background-color: rgba(0, 0, 0, 0);
}

.scrolling-active li a {
  color: #313131;
}

#Carousel {
  height: calc(94vh - 100px);
  display: block;
  width: calc(69% - 100px);
  float: left;
  margin: 0 auto;
  position: relative;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
  /* Resize the background image to cover the entire container */
  margin: 50px;
  margin-right: 0px;
}

.carousel-inner-wrapper {
  height: 100%;
  width: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  border-radius: 25px;
}

.landing-wraper {
  margin-top: 6vh;
  height: 94vh;
}

.landing-text {
  position: relative;
  float: right;
  width: 32%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text p {
  font-family: Drip;
  font-size: 6vw;
  height: auto;
  line-height: 5.3vw;
}

.pulse-shrink {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.pulse-shrink:hover,
.pulse-shrink:focus,
.pulse-shrink:active {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.mySlides {
  float: center;
  width: 100%;
}

.Button-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  border-right: 10px solid;
}

.Button-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  border-left: 10px solid;
}

.Button:hover {
  background-color: rgba(46, 46, 46, 0.3);
}

.Button {
  background-color: rgba(46, 46, 46, 0.1);
  color: #fff;
  border: none;
  padding: 5vh 20px;
  text-align: center;
  text-decoration: none;
  font-size: 2.5vw;
  overflow: hidden;
  text-indent: 0px;
  text-shadow: none;
  transition: 0.2s;
  border-color: white;
}

/*Introduction Section*/

.Introduction-Wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}

.Intro-Video-Wrapper {
  text-align: center;
  display: inline-block;
  width: 60%;
  background-color: white;
}

.Intro-Video-Wrapper-kiu {
  position: relative;
  width: calc(65% - 30px);
  margin-right: 30px;
  overflow: hidden;
  padding-top: 33%; /* 16:9 Aspect Ratio */
  border-radius: 20px;
}

.Preview-Video {
  width: 100%;
  display: inline-block;
  background-color: white;
  object-fit: scale-down;
}

.Preview-Video-kiu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.kiu-vid-aligner {
  width: 100%;
  text-align: center;
}

.Welcome-Message {
  padding: 30px;
  font-family: Gilroy;
  font-size: 1.2vw;
  width: 35%;
  box-sizing: border-box;
  text-align: justify;
  float: left;
}

.Welcome-Message h1 {
  font-size: 3em;
}

.Swiper-Artists-Wrapper {
  margin-bottom: 30px;
}

.Short {
  display: none;
}

.Full {
  display: inline-block;
}

.imgBx img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-color: black;
}

.imgBx {
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
}

.imgBx img {
  display: inline;
  border-radius: 30px;
}

.swiper-slide:hover > .imgBx img {
  transition: all 1s;
  transform: scale(1.2);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 295px;
  background-color: #fff;
  border-color: black;
  border-radius: 30px;
}

.swiper-slide .artist-preview-name {
  height: 40px;
}

.swiper-slide .artist-preview-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  font-family: "GILROY";
}

.swiper-slide .details h3 span {
  font-size: 12px;
  color: #f44336;
}

.App-Info-Wrapper {
  width: 100%;
  background-image: url("../images/monkey.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.shadow-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.button {
  background-color: #00a2ff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 200px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
}

.button:hover {
  background-color: white;
  color: #00a2ff;
  transition: 0.5s;
}

.button1 {
  border-radius: 50px;
}

.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  float: left;
  width: 50%;
  height: 100vh;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}

.app-info-aligner {
  width: calc(70% - 30px);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}

.app-preview {
  width: 50%;
  float: right;
  height: 100vh;
}

.app-preview-aligner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.app-preview-image {
  width: 100%;
}

.Footer {
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
}

.Footer-text {
  color: white;
  display: flex;
  padding-left: 30px;
}

.Artist {
  height: 300px;
  width: 300px;
  background-color: black;
  display: inline-block;
  margin: 10px;
}

.map-wrapper1 {
  height: 800px;
  width: 80%;
  display: inline-block;
}

.Map {
  width: 100%;
  height: 90vh;
}

.year-list-item {
  display: inline-block;
  cursor: pointer;
}

.year-list .active {
  color: #f44336;
  text-decoration: underline;
}

.Artist-Name {
  color: black;
}

.nav-bar-spacer {
  height: 7vh;
  width: 100%;
}

.gallery {
  margin: 10px 10px;
  text-align: center;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  height: 180px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: cale(1.1);
}

.Section-Title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Gilroy;
}

.qr-link {
  transition: all 1s ease;
}

.qr-link:hover {
  transform: scale(1.2);
  border-radius: 40px;
}

.blog-card {
  text-align: left;
  width: 100%;
  height: 300px;
  border: 2px black ridge;
  max-width: 900px;
  border-radius: 20px;
}

.blog-card-image {
  height: 100%;
  width: 300px;
  background-color: black;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.blog-card-content {
  width: calc(100% - 300px);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  float: right;
  height: 100%;
  padding: 50px;
  padding-top: 0;
  box-sizing: border-box;
  font-size: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blog-card-content a {
  width: 120px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 5px;
  padding: 15px;
}

.blog-card-content h1 {
  font-family: gilroy_heavy;
}

.blog-content p {
  text-align: justify;
}

.image-wrapper p {
  text-align: center;
}

.language-button {
  width: 100px;
  cursor: pointer;
  color: black;
  border: solid 1px black;
  padding: 10px;
  margin: 0;
  box-sizing: content-box;
}

.language-button h2 {
  margin: 0;
}

.language-button p {
  display: inline;
}
.mobile-placeholder {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-placeholder {
    display: block;
  }
  .kiu-vid-aligner video {
    display: inline-block;
    width: 100%;
  }
  .landing-wraper {
    margin-top: 6vh;
    height: auto;
  }
  .blog-card {
    min-width: none;
    display: inline-block;
    width: 300px;
    height: auto;
    border: 2px black ridge;
    margin-bottom: 10px;
  }
  .blog-card-image {
    display: block;
    height: 300px;
    width: 300px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .blog-card-content {
    display: block;
    width: 300px;
    background-color: rgb(251, 250, 250);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    height: auto;
    padding: 25px;
    padding-top: 0;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .logo-container {
    width: 100%;
    text-align: center;
  }
  .nav-logo {
    margin: 0;
  }
  .inner-logo-container {
    flex-direction: row;
    align-items: center;
  }
  .nav-links {
    position: absolute;
    top: -2px;
    background-color: white;
    height: 101vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(7vh at 100% -10%);
    -webkit-clip-path: circle(7vh at 100% -10%);
    transition: all 0.7s ease;
    pointer-events: none;
    margin: 0;
    padding: 0;
  }
  .nav-links.open {
    clip-path: circle(300vh at 100% -10%);
    -webkit-clip-path: circle(300vh at 100% -10%);
    pointer-events: all;
    background-color: white;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 20px;
    color: black;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.15s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.25s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.3s;
  }
  li.fade {
    opacity: 1;
  }
  .scrolling-active li a {
    color: black;
  }
  .scrolling-active {
    background-color: white;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .trigger {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .bars {
    height: 8vh;
    cursor: pointer;
  }
  .bars .line {
    fill: none;
    stroke: black;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  }
  .scrolling-active .bars .line {
    stroke: black;
  }
  .inNavigation .bars .line {
    stroke: black;
  }
  .bars .line.top {
    stroke-dasharray: 40 172;
  }
  .bars .line.middle {
    stroke-dasharray: 40 111;
  }
  .bars .line.bottom {
    stroke-dasharray: 40 172;
  }
  .bars.active .top {
    stroke-dashoffset: -132px;
  }
  .bars.active .middle {
    stroke-dashoffset: -71px;
  }
  .bars.active .bottom {
    stroke-dashoffset: -132px;
  }
  #Carousel {
    width: 100%;
    height: 46vh;
    margin: 0;
  }
  .carousel-inner-wrapper {
    border-radius: 0px;
  }
  .landing-text {
    width: 100%;
    text-align: center;
    float: none;
    display: inline-block;
    height: auto;
  }
  .landing-text p {
    font-family: Gilroy_heavy;
    font-size: 3rem;
    height: auto;
    line-height: 3rem;
  }
  .Introduction-Wrapper {
    text-align: center;
    display: block;
  }
  .Full {
    display: none;
  }
  .Short {
    display: inline-block;
  }
  .Welcome-Message h1 {
    font-size: 30px;
  }
  .Welcome-Message {
    width: 95%;
    font-size: 19px;
    text-align: justify;
    float: none;
    border: 1px black solid;
    display: inline-block;
    margin-bottom: 10px;
  }
  .Intro-Video-Wrapper {
    width: 100%;
  }
  .Intro-Video-Wrapper-kiu {
    width: 100%;
    height: 50vw;
  }
  .Preview-Video {
    width: 100%;
  }

  .swiper-container {
    width: 100%;
    background-color: #fff;
  }
  .imgBx img {
    width: 150px;
    height: 150px;
    border-bottom: 1px solid;
    border-color: black;
    -webkit-transition: -webkit-filter 500ms linear;
    transition: 1s filter linear, 1s -webkit-filter linear;
  }
  .swiper-slide {
    width: 195px;
    height: 195px;
  }
  .swiper-slide a img {
    width: 195px;
    height: 195px;
  }
  .swiper-slide .details h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .swiper-slide .details h3 span {
    font-size: 12px;
  }
  .sponsors-pc {
    display: none;
  }
  .Footer {
    justify-content: space-around;
  }
  .Footer-text {
    padding: 0;
  }
  .Map {
    width: 100%;
    height: 400px;
  }
  .shadow-overlay {
    height: auto;
  }
  .app-info {
    text-align: center;
    width: 100%;
    float: none;
    height: auto;
    justify-content: unset;
    font-size: 16px;
  }
  .app-info-aligner {
    width: calc(100% - 30px);
  }
  .app-preview-aligner {
    height: auto;
  }
  .app-preview {
    height: auto;
    width: 100%;
    float: none;
  }
  .card {
    display: inline-block;
    width: 100vw;
    min-width: 100vw;
    height: 200px;
  }
  .post-image {
    width: 25%;
    height: 25vw;
    border-radius: 10px 10px 10px;
    float: left;
  }
  .post-content {
    width: 60%;
    min-width: auto;
    height: auto;
    float: left;
    margin-left: 5px;
    overflow: hidden;
  }
  .post-header {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    color: #3b3c3f;
    margin-left: 10px;
    text-align: center;
  }
  .post-text {
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
    color: #768ca4;
    font-family: "Roboto", sans-serif;
  }
  .author {
    display: none;
  }
  .blog-main-image img {
    width: 100% !important;
  }
  .blog-content {
    margin-top: 15px;
    width: 90% !important;
    font-size: 15px !important;
  }
  blockquote p {
    font-size: 16px !important;
  }
  .classy-bq:before {
    font-size: 4em !important;
  }
  .classy-bq-null:before {
    font-size: 4em !important;
  }
}

.blog-main-image img {
  width: 65%;
}

.blog-content {
  margin-top: 20px;
  width: 60%;
  display: inline-block;
  font-size: 20px;
  text-align: left;
}

.classy-bq-null:before {
  color: black;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  opacity: 0.6;
}

.classy-bq-null {
  border-left: 1px solid black;
  margin: 1.5em 10px;
  padding: 0.7em 25px;
  color: black;
}

.classy-bq {
  border-left: 4px solid #717171;
  margin: 1.5em 10px;
  padding: 0.7em 25px;
  quotes: "\201C""\201D""\2018""\2019";
  color: black;
}

.classy-bq:before {
  color: black;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  opacity: 0.6;
}

blockquote p {
  display: inline;
  font-size: 19px;
}

.blockquote-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.95;
}

.universal-inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.social-icons {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.25em;
  color: #448aaf;
}

.social-icons h1 {
  margin: 40px 0;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.social-icons ul li a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}

.social-icons ul li a i {
  color: black;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.social-icons ul li a:hover i {
  color: #275066;
}

.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #0b161c;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slide {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.hero {
  font-size: clamp(35px, 4vw, 90px);
  line-height: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: black;
  z-index: 2;
  letter-spacing: 10px;
  font-weight: normal;
  font-family: most;
  text-align: center;
  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 1px);
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 90%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }
  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }
  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }
  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }
  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }
  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.Main-Wrapper {
  text-align: center;
}

.aligner {
  text-align: center;
}

.project {
  height: 150px;
  display: block;
  width: auto;
  margin-top: 50px;
  padding-left: 15px;
  text-align: left;
  background-color: white;
}

.info {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1200px) {
  .main-wrapper {
    text-align: center;
  }

  .aligner {
    display: inline-block;
    width: 70%;
  }

  .project {
    height: 200px;
    background-color: white;
    width: 800px;
    margin-top: 50px;
  }

  .info {
    padding-right: 250px;
    width: 300px;
    height: 200px;
    float: right;
    text-align: left;
    display: inline-block;
    background-color: white;
  }
}

.section-header {
    text-align: center;
    margin: 60px auto 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
}

.section-header-underline {
    border: 1px solid #222;
    width: 3rem;
    margin: 0 auto;
    margin-bottom: 30px;
}

.video-gallery {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-gallery .gallery-item {
    position: relative;
    /* float: left; */
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 580px;
    max-height: 580px;
    width: 48%;
    background: #000;
    cursor: pointer;
}

.video-gallery .gallery-item img {
    object-fit: cover;
    position: relative;
    display: block;
    opacity: .45;
    width: 110%;
    height: 300px;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-23px, 0, 0);
    backface-visibility: hidden;
}

.video-gallery .gallery-item .gallery-item-caption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-gallery .gallery-item h2 {
    font-weight: 300;
    overflow: hidden;
    padding: 0.5em 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
    position: relative;
    margin: 0;
    z-index: 10;
}

.video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 68%;
    padding: 1em 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
    opacity: .3;
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
}

.video-gallery .gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
    .video-gallery .gallery-item {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

.Second-Wrapper {
    border-top: solid 5px;
    border-color: black;
    padding: 0px;
    width: 100%;
    height: 93vh;
    background-image: url("/static/images/innerfields\ 1\ 2020.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Links-Second {
    width: 95%;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

body.lb-disable-scrolling {
    overflow: hidden;
  }
  
  .lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
  }
  
  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
  }
  
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
  
    /* Image border */
    border: 4px solid white;
  }
  
  .lightbox a img {
    border: none;
  }
  
  .lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
  
    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
  }
  
  .lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
  }
  
  .lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../Gallery/loading.gif) no-repeat;
  }
  
  .lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  
  .lb-container > .nav {
    left: 0;
  }
  
  .lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  }
  
  .lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
  }
  
  .lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../Gallery/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../Gallery/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-data {
    padding: 0 4px;
    color: #ccc;
  }
  
  .lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
  }
  
  .lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
  }
  
  .lb-data .lb-caption a {
    color: #4ae;
  }
  
  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
  }
  
  .lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../Gallery/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  