<!DOCTYPE html>
<html>

<head>

    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Faster.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ArtistPage.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>


<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>


    <div class="container">
        <main>
            <div class="row">
                <div class="left col-lg-4">
                    <div class="photo-left">
                        <img class="photo" src="/static/images/Profile Pictures/monkeybird.webp" />
                    </div>

                    <hr>
                    <div class="Section-Title">
                        <h1>Monkeybird</h1>
                    </div>
                    <hr>

                    <p class="desc">Monkey Bird is a duo of French contemporary artists born and working in Bordeaux
                        since 2010. They are known for using symbolic anthropomorphism in their artworks—depicting wild
                        animals in urban areas. They work in stencil, collages, spray painting, drawing, carving,
                        silkscreen, and engraving.

                        The duo consists of Blow the Bird and Temor the Monkey, and they incarnate the two faces of
                        humankind, the monkey being the realist, and the bird being a dreamer. Members of the crew have
                        BTS in graphic design, BTS in object design and MA in industrial design. In their work, a search
                        for balance between dreams and reality is visible, as their goal is to become the alchemists of
                        the living desire. The artists are inspired by ephemeral monumentality, religious paintings and
                        the art nouveau.</p>

                    <div class="container">
                        <div class="social-icons">
                            <ul>
                                <li><a href="https://www.facebook.com/MonkeyBirdCrew/"><i class="icon-facebook"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/monkeybirdcrew/?hl=en"><i
                                            class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right col-lg-8 verticalCenter">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"> <img src="monkey axali.jpg" /></div>
                            <div class="swiper-slide"> <img src="image00045.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00046.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00047.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00048.jpeg" /></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- Swiper JS -->
                    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script src="/static/js/swiper.js"></script>
                </div>
        </main>
    </div>

    <div id="footer"></div>
</body>

</html>