<!DOCTYPE html>
<html>

<head>

    <title>  Aphe & Noah And Kakabadze</title>
    <meta charset="utf-8">
    <meta name="description" content="ერთი შეხედვით მნახველს შესაძლოა მოეჩვენოს, რომ სტრიტ არტის ...">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css">
    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="/static/images/eed57f_c79aa19dd413486d97378f8a4ed4020a_mv2 (1).png">
        <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Aphe & Noah (2020)</p>

    </div>
    <div class="language-button" id="change-language">
        <h2><i class="fa fa-language" aria-hidden="true"></i> &nbsp
            <p id="language">Ge</p>
        </h2>
    </div>

    <h1 class="en"> Aphe & Noah And Kakabadze</h1>
    <h1 class="ge container-hidden"> აფე & ნოა და კაკაბაძე</h1>





    <div class="blog-content">



        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en"> In Tbilisi, on Zaza Panaskertel-Tsitsishvili Street, one can see a huge
                    mural on the walls of a residential building, created in 2020 by Oliver Hollatz and Noah Kauertz,
                    also known as Aphe& Noah. The mural can attract people’s attention for many reasons, however, it
                    should be noted that one particular detail makes it even more distinctive. Beyond the unique style
                    and colors, it is easy to notice that the details of Davit Kakabadze's famous painting are used on
                    their murals. Aphe&Noah is a duo of German artists, who collaborated first in 2019. It is
                    interesting what they were doing before Tbilisi Mural Fest and why they made David Kakabadze’s work
                    a part of their mural. Aphe&Noah tell us themselves about their experience and memories;</p>
                <p class="ge container-hidden"> თბილისში, ზაზა ფანასკერტელ-ციციშვილის ქუჩაზე, საცხოვრებელი კორპუსის
                    ერთ-ერთ კედელზე
                    უზარმაზარ მურალს წააწყდებით, რომელიც 2020 წელს ოლივერ ჰოლაცმა და ნოა კაუერცმა, იგივე აფე&ნოამ
                    შექმნეს. მურალმა მნახველის ყურადღება ბევრი მიზეზის გამო შეიძლება მიიქციოს, თუმცა, აღსანიშნავია, რომ
                    ერთი განსაკუთრებული დეტალი მას სხვებისგან კიდევ უფრო გამორჩეულს ხდის. უნიკალური სტილისა და ფერების
                    მიღმა, ადვილად შესამჩნევია, რომ მურალზე დავით კაკაბაძის ცნობილი ნახატის დეტალებია გამოყენებული.
                    აფე&ნოა გერმანელ მხატვართა დუოა, რომელთა კოლაბორაციაც პირველად 2019 წელს შედგა. საინტერესოა, თუ რა
                    გზა გაიარეს მხატვრებმა მანამ, ვიდრე თბილისი მურალ ფესტზე მოხვდებოდნენ და თუ რატომ აქციეს დავით
                    კაკაბაძის შემოქმედება თავისი მურალის ნაწილად. სწორედ ამაზე, ასევე თავიანთ გამოცდილებასა და
                    მოგონებებზე მხატვრები თავადვე გვიამბობენ; </p>
            </blockquote>
        </section>

        <h1 class="en">Aphe & Noah</h1>
        <h1 class="ge container-hidden">აფე & ნოა</h1>
        <p class="en">
            We, APHE (Oliver Hollatz, *1990) and NOAH (Noah Kauertz, *1993) got to know each other during art studies in
            Bonn, Germany. The common interest for art in public spaces and passion for painting led us to our first
            collaboration and we worked together on a facade design, in 2019. In the same year, four more murals were
            created, which significantly shaped the collaboration between us in terms of color, style and subject. Our
            dialogic painting moves freely between representation and abstraction and is strongly influenced by an
            atmospheric color aesthetic. We, as painters, not only work on murals as one of our main forms of
            expression, but also on canvases in the studio. One of the most important things in our paintings is the
            process of dialogic painting itself. In each painting, no matter what the subject is, we are figuring out
            the balance between the expression of our own unique style, as well as our current thoughts about life and
            being. Therefore, we combine our mutual interests to create something new, which can offer various results:
            sometimes playful and spontaneous, and other times organized and structured. In our paintings, one of our
            main goals is to create an individual, special mood through our usage of color. We want our colors to help
            others perceive different situations, mainly everyday scenes, in completely new ways, which will be the
            opposite of the "normal" effect of colors on people.
        </p>
        <p class="ge container-hidden">
            <br><br>
            ერთმანეთი გერმანიაში, ქალაქ ბონში გავიცანით, როდესაც ჯერ კიდევ ორივე ვსწავლობდით. ჩვენმა გატაცებამ და საერთო
            ინტერესმა ქუჩის ხელოვნების მიმართ პირველი კოლაბორაციისკენ 2019 წელს გვიბიძგა და ერთ-ერთი ფასადის დიზაინზე
            ერთობლივად ვიმუშავეთ. იმავე წელს კიდევ ოთხი მურალი შევქმენით. ჩვენი თანამშრომლობის ჩამოყალიბებისას ამ
            მურალებმა დიდი როლი ითამაშა ფერების, სტილისა და თემატიკის შეთანხმების საკითხში. ჩვენი დიალოგური მხატვრობა
            თავისუფლად მოძრაობს აბსტრაქციასა და რეპრეზენტაციას შორის და მასზე უდიდესი გავლენა აქვს ატმოსფერულ ფერთა
            ესთეტიკას. ჩვენთვის, როგორც მხატვრებისთვის, მურალი არ არის ერთადერთი თვითგამოხატვის საშუალება, სტუდიაში
            ტილოზეც ვხატავთ. ერთ-ერთი ყველაზე მნიშვნელოვანი კი ჩვენს ნახატებში, ეს თავად დიალოგის პროცესია. თითოეულ
            ნახატში, მიუხედავად მისი თემატიკისა, ვპოულობთ ბალანსს ჩვენი უნიკალური სტილის გამოსახვასა და ჩვენს
            შეხედულებებს შორის. შესაბამისად, ვაერთიანებთ საერთო ინტერესებს, რათა შევქმნათ რაღაც ახალი, ამას კი მუდმივად
            განსხვავებულ შედეგებამდე მივყავართ: ზოგჯერ ეს შედეგი სახალისო და სპონტანურია, ზოგჯერ - ორგანიზებული და
            სტრუქტურული. ჩვენს ნახატებში, ჩვენი მთავარი მიზანია, ფერების გამოყენებით შევქმნათ ინდივიდუალური,
            განსაკუთრებული ხასიათი. გვსურს, ჩვენმა ფერებმა სხვადასხვა სიტუაციების, ძირითადად კი ყოველდღიური სცენების,
            სრულიად ახლებური გზებით აღქმას შეუწყოს ხელი, რაც დაუპირისპირდება ადამიანებზე ფერების „ჩვეულებრივ“
            მოქმედებას.

        </p>

        <h1 class="en">Street Art</h1>
        <h1 class="ge container-hidden">ასტრიტ არტი</h1>
        <p class="en">
            Street art means a lot to us, we find it important to integrate our surroundings into our dialog of
            creation. We react on colors, history or actual situations, as well the position of the building and the
            light which changes within the day. As creators, we like to open windows into our mind through what we
            create. It‘s like a glimpse into our brains, and see how we see the world being interconnected with humans.
            Street art might also be easily accessible art for people that share no interest in museums or galleries. In
            our understanding, art can work as the bridge for humans to get an insight into someone else’s feelings and
            thoughts, which might also be one way to overcome our loneliness as human beings. As we evolve as painters,
            our influences will widen with our experiences. When we get the chance to live and enjoy other countries and
            cultures, we surely will process all those encounters within our work. Actually, we are looking forward to
            doing so!

        </p>
        <p class="ge container-hidden">
            სტრიტ არტი ჩვენთვის ძალიან ბევრს ნიშნავს. უდიდეს მნიშვნელობას ვანიჭებთ გარემოს ჩართვას ჩვენსავე
            შემოქმედებაში. ვრეაგირებთ ფერებზე, ისტორიაზე, მოცემულ სიტუაციებზე, ასევე შენობის პოზიციასა და განათებაზეც,
            რომელიც დღის განმავლობაში ცვალებადია. როგორც შემქმნელებს, მოგვწონს, როცა ჩვენივე შექმნილის საშუალებით ახალ
            ფანჯრებს ვხსნით გონებაში, როდესაც მნახველს შეუძლია ჩვენი თვალებით იმის დანახვა, თუ როგორ არის სამყარო და
            ადამიანები ერთმანეთთან დაკავშირებული.
            სტრიტ არტი იმ ადამიანებისთვისაცაა, ვისაც გალერეებსა თუ მუზეუმებში სიარულის ინტერესი არ აქვს. ჩვენი გაგებით,
            ხელოვნებას შეუძლია ადამიანებისთვის ერთგვარი ხიდის როლი შეითავსოს და მათ საშუალება მისცეს, გაიზიარონ
            ერთმანეთის ფიქრები და გრძნობები, რაც, თავის მხრივ, შეიძლება გახდეს ადამიანთა მარტოსულობის დაძლევის გზა.
            რაც უფრო მეტად ვვითარდებით, შეძენილ გამოცდილებასთან ერთად ჩვენი გავლენაც ფართოვდება. როდესაც საშუალება
            გვეძლევა სხვა ქვეყნაში ვიცხოვროთ და მის კულტურას ვეზიაროთ, რასაკვირველია ნანახსა და განცდილს ჩვენს
            ხელოვნებაშიც ავსახავთ. სწორედ ეს არის ის, რისი გაკეთებაც მომავალში ძალიან გვსურს!

        </p>

        <h1 class="en">Tbilisi Mural Fest 2020: experience and memories</h1>
        <h1 class="ge container-hidden">თბილისი მურალ ფესტი 2020: გამოცდილება და მოგონებები</h1>
        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;"
                src="/static/images/ApheNoah 2.png">
        </div>
        <p class="en">
            What we can say about the Tbilisi Mural Fest is that it was totally amazing! It was a big pleasure meeting
            the founders - Besik and Dudana, as well as all the other amazing artists. The atmosphere was very familial
            and welcoming, including all those new impressions of Georgian culture and Tbilisi city life, where its
            traditional charm showed up in various ways. One could feel the beauty of many cultures interfering with
            each other. The Fabrika hostel, we gladly called our home for a week, was one of those places combining all
            of the above while also offering a space for the younger generation. A nice stay we can totally recommend!
            Another thing you definitely shouldn’t miss is the taste of Georgian grapes, which we came to experience the
            other day when a woman on her balcony gave us a whole bunch, while we were painting next to her. Thank you
            Mrs. Unknown!
            It was a totally new experience to paint from the elevator. It made us change our painting approach: first,
            we painted and finished one half, while the other was empty. We've never done that before! Furthermore, the
            grid we use normally to transfer our composition onto the wall is painted by hand, but this time we ditched
            that and used the structure of the wall itself as reference points. Looking back, our faces light up with a
            big smile as we remember how we used to lift the elevator constantly so that we would not crash with the
            exhaust fans hanged on the outside walls of building. We also remember Beka, the curator and our friend who
            showed us his love for art, he always had the most unique clipper lighters. We experienced a very welcoming,
            warmhearted community of creative people, who made our stay extra special.

        </p>

        <p class="ge container-hidden">
            თბილისი მურალ ფესტზე ერთადერთი, რაც დანამდვილებით შეგვიძლია ვთქვათ, ისაა, რომ ყველაფერი არაჩვეულებრივი იყო!
            ჩვენთვის უდიდესი სიამოვნება იყო ფესტივალის დამაარსებლებთან, ბესიკთან და დუდანასთან, და სხვა გამორჩეულ
            მხატვრებთან შეხვედრა. გარემო ძალიან ოჯახური და კეთილგანწყობილი შეგვხვდა. გამორჩეული იყო ქართული კულტურისა და
            თბილისის ცხოვრების ყველა ახალი შთაბეჭდილება, სადაც მისი ტრადიციული ხიბლი სხვადასხვა გზებით ვლინდებოდა.
            იგრძნობოდა, თუ როგორ ირეოდა ერთმანეთში მრავალმხრივი კულტურის სილამაზე. ფაბრიკა ჰოსტელი, რომლესაც ერთი კვირის
            მანძილზე სახლს ვეძახდით, სწორედ ის ადგილია, რომელიც ერთმანეთში ყველა ზემოთხსენებულს აერთიანებს და,
            ამავდროულად, ახალგაზრდა თაობასაც სთავაზობს სივრცეს შეკრებისათვის. იქ დარჩენას ყველას ვურჩევთ. და კიდევ, რაც
            საქართველოში სტუმრობისას არავითარ შემთხვევაში არ უნდა გამოგრჩეთ, ეს ქართული ყურძნისთვის გემოს გასინჯვაა. ერთ
            დღეს, როდესაც კედელს ვხატავდით, გვერდით აივნიდან ერთმა ქალმა მთელი მტევანი მოგვაწოდა. სწორედ მაშინ გავუგეთ
            გემო ქართულ ყურძენს. მადლობა უცნობ ქალბატონს!

            ჩვენთვის სრულიად ახლებური გამოცდილება იყო დასაკიდი ლიფტიდან ხატვაც. ამან გვაიძულა, ხატვის ტექნიკა ცოტატი
            შეგვეცვალა: პირველ რიგში ნახატის ნახევარი მხარე დავასრულეთ, ამსობაში მეორე ნაწილი სრულიად ცარიელი იყო. ეს
            აქამდე არასდროს გაგვეკეთებინა. უფრო მეტიც, ბადე, რომელსაც ჩვენი კომპოზიციის კედელზე გადატანისთვის ვიყენებთ
            ჩვეულებრივ ხელით არის დახატული. თუმცა ამჯერად ასე აღარ მოვქცეულვართ და რეფერენსად თავად კედლის სტრუქტურა
            გამოვიყენეთ. ღიმილით გვახსენდება ის, თუ როგორ ვწევდით ლიფტს გამუდმებით კედლისგან შორს, რათა კედელზე
            დამოტაჟებულ გამწოვებს არ შევჯახებოდით. ასევე ღიმილით გვახსენდება ბექა, თბილისი მურალ ფესტის კურატორი და
            ჩვენი მეგობარი, რომელიც უნიკალურ სანთებელებს ფლობდა და რომელმაც ნათლად დაგვანახა თავისი სიყვარული
            ხელოვნებისადმი. ჩვენ შემოქმედებითი საზოგადოების ძალიან თბილ ადამიანებთან ერთად მოგვიწია ყოფნამ, ამან
            საქართველოში გატარებული დრო კიდევ უფრო განსაკუთრებუილ გახადა.
        </p>
        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;"
                src="/static//images/ApheNoah.1.png">
            
        </div>

        
        <h1 class="en">The mural and David Kakabadze</h1>
        <h1 class="ge container-hidden">მურალი და დავით კაკაბაძე</h1>
        <p class="en">
            The week before our stay at Fabrika hostel, we were invited to Dudana's and Besik’s home. While rummaging
            through her bookshelves, we found some old Georgian books about art that showed diversity and beauty of the
            past. Learning about the loss of many amazing paintings during the Second World War made us wonder, and
            reminisce about what once was. In one book we stumbled over David Kakabadze, one of the most well-known
            Georgian painters of the 20th century, whose colorful landscapes inspired our own work. As we instantly fell
            in love with his way of abstraction, he and our wish to honor the history of Georgia made us change our
            finished design for the wall. We modified the position of the main figure, made him look over his own
            shoulder, which symbolically means to look into the past, to remember all those forgotten artists and their
            work. In addition, the reflection of a window in the back is showing a landscape which is inspired by the
            forms and structures of David Kakabadze’s landscapes, transcribed into our sense of color and style.
            Therefore, our personal style came into interaction with elements of Georgian Culture. We really like the
            fact that our mural, with its hidden meaning, is looking over the city of Tbilisi.

        </p>
        <p class="ge container-hidden">
            ფაბრიკა ჰოსტელში მისვლამდე ერთი კვირით ადრე დუდანამ და ბესომ თავის სახლში მიგვიწვია. მისი წიგნების თაროების
            დათვალიერებისას, ხელოვნების შესახებ დაწერილი ძველი ქართული წიგნები აღმოვაჩინეთ, რომლებიც წარსულ
            მრავალფეროვნებასა და სილამაზეზე მოგვითხრობდა. როდესაც შევიტყვეთ თუ რამდენი შესანიშნავი ნახატი დაიკარგა მეორე
            მსოფლიო ომისას, დავფიქრდით და წარმოვიდგინეთ, თუ რა შეიძლებოდა ყოფილიყო მაშინ. ერთ-ერთ წიგნში მე-20 საუკუნეში
            მოღვაწე ცნობილ ქართველ მხატვარს, დავით კაკაბაძეს წავაწყდით. მისმა ფერადმა ლანდშაფტებმა ჩვენს ნამუშევარზე
            დიდი გავლენა მოახდინა. აბსტრაქციის მისეული გამოსახვა მომენტალურად შეგვიყვარდა. მისმა და უკვე ჩვენმა
            სურვილმაც დაგვეფასებინა საქართველოს ისტორია, კედლის საბოლოოდ დასრულებული დიზაინის შეცვლისაკენ გვიბიძგა.
            შევცვალეთ მთავარი ფიგურის პოზიცია, რათა მას თითქოს გადაეხედა საკუთარ მხარს მიღმა. ეს სიმბოლურად გამოსახავს
            წარსულისთვის ყურებას, რათა გვახსოვდეს ყველა დაკარგული მხატვარი და მათი ნამუშევრები. გარდა ამისა, ნახატზე
            არსებული ფონზე, რომელზეც ფანჯარაა გამოსახული, ჩანს ლადშაფტი. ეს ლანდაფტი მთლიანად შთაგონებულია დავით
            კაკაბაძის პეიზაჟის ფორმებითა და სტრუქტურით, რომელიც გადაწერილია ჩვენს ფერებსა და სტილში. შესაბამისად, ჩვენი
            პერსონალური სტილი ინტერაქციაშია ქართული კულტურის ელემენტებთან. ძალიან გვახარებს ის ფაქტი, რომ ჩვენი მურალი,
            თავისი ფარული შინაარსით, ქალაქ თბილისს თავზე დასცქერის.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;"
                src="/static//images/1262201e-5419-4851-af81-4c7bd97ed81c.png">
            
        </div>

        <p class="en" style="text-align: right;"><b>By Kristine Surguladze</b></p>
        <p class="ge  container-hidden" style="text-align: right;"><b>ავტორი: ქრისტინე სურგულაძე </b></p>
    </div>


    <script src="/static/js/languageChanger.js"></script>
    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>