<!DOCTYPE html>
<html>

<head>
  <title>Faith XLVII - "Solar Logos"</title>
  <meta charset="utf-8" />
  <meta name="description" content="ერთი შეხედვით მნახველს შესაძლოა მოეჩვენოს, რომ სტრიტ არტის ..." />
  <meta name="keywords"
    content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival" />
  <meta name="author" content="Tbilisi Mural Fest" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css" />
  <script src="/static/js/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/30311c0b7a.js" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $("#header").load("/templates/header.html");
      $("#sponsors").load("/templates/sponsors.html");
      $("#footer").load("/templates/footer.html");
    });
  </script>
</head>

<body style="text-align: center">
  <div id="header"></div>
  <div class="nav-bar-spacer"></div>

  <div class="blog-main-image">
    <img src="/static/images/Faith-blog/Facebook Post 940x788 px.jpeg" />
    <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px">
      Faith XLVII
    </p>
  </div>
  <div class="language-button" id="change-language">
    <h2>
      <i class="fa fa-language" aria-hidden="true"></i> &nbsp
      <p id="language">Ge</p>
    </h2>
  </div>

  <h1 class="en">Faith XLVII - "Solar Logos"</h1>
  <h1 class="ge container-hidden">ფეიტ XLVII - "ზეციური ნათება"</h1>

  <div class="blog-content">

    <p class="en">
      In the fall of 2021, many famous artists visited the streets of
      Tbilisi again as part of the Tbilisi Mural Fest. One of them was
      Liberty Du, known as Faith XLVII. Liberty is a South African
      multi-disciplinary artist. From 1997 to present she has created her
      works in 42 countries. Liberty's work is not limited to street art,
      as we read in her biography “her evolution from street artist to a
      multi-disciplinary artist has created a fluid yet solid bridge into
      the contemporary art world. This explorative approach has led her to
      develop a broad range of artwork. Ranging from immersive new media
      installations, hand-sewn wall tapestries, to sculptural bronze works
      investigating hierarchies of power, paintings, and various
      explorations into printmaking.” Liberty’s mural is already available
      to be seen in the street of Tbilisi. As for today the artist tells
      about her interests, favorite street artists, her impressions of
      Georgia and her new mural as well.
    </p>
    <p class="ge container-hidden">
      2021 წლის შემოდგომაზე თბილისი მურალ ფესტის ფარგლებში თბილისის ქუჩებს
      კვლავ ბევრი ცნობილი მხატვარი ეწვია. მათ შორის ერთ-ერთია ლიბერტი დუ,
      რომელიც ცნობილია, როგორც Faith XLVII. ლიბერტი სამხრეთ აფრიკელი
      არტისტია. მისი მოღვაწეობა 1997 წლიდან იწყება და დღემდე მას სულ 42
      ქვეყანაში აქვს თავისი ნამუშევრები შექმნილი. ლიბერტის ნამუშევრები არ
      შემოიფარგლება მხოლოდ ქუჩის ხელოვნებით, როგორც მის ბიოგრაფიაში
      ვკითხულობთ, „მისმა ევოლუციამ ქუჩის მხატვრობიდან მულტიდისციპლინურ
      ხელოვანამდე შექმნა თხევადი, თუმცა მაინც მყარი ხიდი თანამედროვე
      ხელოვნების სამყაროში. ამ საძიებო მიდგომამ აიძულა იგი შეექმნა
      ნამუშევრების ფართო სპექტრი. დაწყებული ჩაძირული ახალი მედიის
      ინსტალაციებიდან თუ ხელით შეკერილი კედლის გობელენებიდან, დასრულებული
      სკულპტურული ბრინჯაოს ნამუშევრებით, რომლებიც ძალაუფლების იერარქიას,
      ფერწერას და სხვადასხვა ძიებებს იკვლევენ ნახატში.“ მსურველებს
      ლიბერტის მურალის ხილვა უკვე შეუძლიათ, მანამდე კი მხატვარი საკუთარი
      ინტერესების, საყვარელი არტისტების, საქართველოზე თავისი
      შთაბეჭდილებებისა და თბილისის ახალი მურალის შესახებ თავად
      მოგვითხრობს.
    </p>
    <div class="image-wrapper" style="width: 100%; text-align: center;">
      <img style="width: 45%; display: inline-block;border-radius: 50%;"
        src="/static/images/Faith-blog/20180907_faith47-portrait.jpg">
      <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Faith XLVII</p>
    </div>

    <h1 class="en">Faith XLVII</h1>
    <h1 class="ge container-hidden">ფეიტ XLVII</h1>

    <section class="blockquote-section">
      <blockquote class="classy-bq">
        <p class="en">
          When communicating my deepest thoughts and reflections with language, it
          is always somehow limited or inadequate. I have been searching for ways
          of communicating on other levels, with the perception of color for
          instance, the use of environment, tone, mythology, symbolism. Developing
          a visual language that can speak to the heart. This is what interests
          me.
        </p>
        <p class="ge container-hidden">
          <br /><br />
          როცა საუბრისას ჩემი ყველაზე ღრმა ფიქრებისა და აზრების გადმოცემას
          ვცდილობ, რატომღაც ყოველ ჯერზე ჩემი სიტყვები შეზღუდული და არაადეკვატური
          მეჩვენება. დიდი ხნის განმავლობაში ვცდილობდი კომუნიკაცია ისეთი
          საშუალებებით დამემყარებინა როგორებიცაა მაგალითად ფერები, გარესამყარო,
          ბგერები, მითოლოოგია თუ სიმბოლიზმი. ვცდილობდი, მათი ერთიანობითა და
          გამოყენებით კომუნიკაციის ახალი გზები გამომენახა. მინდოდა ისეთი ვიზუალური
          ენა შემექმნა, რომელსაც მნახველის გულში ჩაწვდომა შეუძლია. სწორედ ეს არის
          ის, რაც მაინტერესებს, რის გამოც ყველაფერი დაიწყო და გრძელდება.
        </p>
      </blockquote>
    </section>

    <div class="image-wrapper" style="width: 100%; text-align: center">
      <img style="width: 90%; display: inline-block"
        src="/static//images/Faith-blog/ad-pacem-faith47-john-beam-photo-5-1140x760.jpg" />
      <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">AD PACEM, CINCINNATI, USA, 2019</p>
    </div>

    <div class="image-wrapper" style="width: 100%; text-align: center">
      <img style="width: 90%; display: inline-block"
        src="/static//images/Faith-blog/salus-populi-suprema-lex-esto9-faith47.jpg" />
      <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">L.A. USA 2018</p>
    </div>

    <h1 class="en">Street Art</h1>
    <h1 class="ge container-hidden">სტრიტ არტი</h1>
    <p class="en">
      Some artists I admire are Blu, Escif, Sebas Velasco, Hyuro [rest in
      peace], Swoon, Broken Fingaz, Axel Void. Its artists like these, and
      many others, that keep me inspired about what is happening and following
      them over decades as friends and peers is deeply moving and meaningful
      to me
    </p>
    <p class="ge container-hidden">
      სტრიტ არტს ჩემს ცხოვრებაში დიდი ადგილი უჭირავს. ბევრი საყვარელი
      მხატვარიც მყავს: ბლუ, ესიფი, სევას ველასკო, ჰიურო, სვუნი, ბროკენ
      ფინგაზი, აქსელ ვოიდი. სწორედ ასეთი მხატვრების, და სხვა ბევრი მათი
      მსგავსის გამოც, შთაგონება არასდროს მომკლებია. ათწლეულების მანძილზე მათ
      ნაბიჯებს მივყვები, როგორც მეგობარი და როგორც მათი თანასწორი. ეს გზა
      ჩემთვის ძალიან ამაღელვებელი და მნიშვნელოვანია.
    </p>

    <div class="image-wrapper" style="width: 100%; text-align: center">
      <img style="width: 90%; display: inline-block"
        src="/static//images/Faith-blog/580-BC-265-BC-athens-faith47-2016-zane-meyer-pic1.jpg" />
      <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Athens, Greece.</p>
    </div>

    <h1 class="en">Tbilisi, Georgia</h1>
    <h1 class="ge container-hidden">თბილისი, საქართველო</h1>
    <p class="en">
      I loved how there were so many grapevines and a connection to farming
      the land as you leave the main cities. I liked the sense of history and
      aged buildings. I sensed a feeling of pain in some faces that you might
      expect from those who have seen war. And in the youth, a lust for the
      new and free world that they can create
    </p>

    <p class="ge container-hidden">
      საქართველოსთან დაკავშირებით ბევრი კარგი შთაბეჭდილება დამრჩა.
      განსაკუთრებით მომხიბლა იმ ფაქტმა, რომ საქართველოში უამრავი ვაზია.
      მომწონს ქართველი ხალხის ასეთი კავშირი მიწათმოქმედებასთან, როგორც კი
      მთავარი ქალაქებიდან გახვალ, ეს ცხადად შესამჩნევია. შემიყვარდა ძველი
      შენობები და ისიც, რომ ქვეყნის ისტორია ყველგან იგრძნობა. ბევრი ადამიანის
      სახეზე ტკივილიც დავინახე, ეს ალბათ ის ტკივილია, რომელსაც ომგამოვლილი
      ადამიანები ასხივებენ. ახალგაზრდების სახეზე კი უფრო მეტად იმ ახალი და
      თავისუფალი სამყაროსკენ ლტოლვაა აღბეჭდილი, რომლის შექმნაც თავადვე
      შეუძლიათ.
    </p>
    <div class="image-wrapper" style="width: 100%; text-align: center">
      <img style="width: 90%; display: inline-block" src="/static//images/Faith-blog/2.jpeg" />
      <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Tbilisi, Georgia 2021</p>
    </div>

    <h1 class="en">Mural “Solar Logos”</h1>
    <h1 class="ge container-hidden">მურალი „ზეციური ნათება“</h1>
    <p class="en">
      The mural I created explores the idea of the Solar Logos. As humans our
      ancient relationship with the sun lends itself to deification.
      Sun-worship has been with us since pagan antiquity, among the Persians,
      Indians, Greeks, Mayans and other ancient cultures. We hold a deep
      rooted, innate understanding that the beams and brilliance our central,
      inner spiritual Sun, are mirrored by our grand celestial Star, the Sun.
      This “mirror of fire,” is our source of existence, light and life. The
      perceived divinity of the Sun echoes our potential. For the sun gives
      forth from itself without being diminished, thus establishing itself as
      the most perfect symbol of self-actualization.
    </p>
    <p class="ge container-hidden">
      მურალი, რომელიც მე შევქმენი, სოლარ ლოგოსის იდეას იკვლევს. ჩვენი, როგორც
      ადამიანების უძველესი ურთიერთობა მზესთან მის გაღმერთებას გულისხმობს. მზის
      თაყვანისცემა არსებობდა წარმართული დროიდან, სპარსულ, ინდურ, ბერძნულ,
      მაიას ტომისეულ და სხვა ბევრ უძველეს კულტურებში. ჩვენში ღრმად
      ფესვებგადგმული და თანდაყოლილი ცოდნაა იმისა, რომ ჩვენი შინაგანი
      ცენტრალური მზის სხივებსა და ბრწყინვალებაში დიდებული ციური ვარკვლავი -
      მზე ირეკლება. სწორედ ეს „ცეცხლის ანარეკლია“ ჩვენი არსებობის, სინათლისა
      და სიცოცხლის წყარო. მზის ღვთაებრიობა ეხმიანება ჩვენს პოტენციალს. რადგან
      მზე გამოდის საკუთარი თავისაგან, იწვის და არ მცირდება, არ ილევა, რის
      გამოც აყალიბებს საკუთარ თავს როგორც თვითრეალიზაციის ყველაზე სრულყოფილ
      სიმბოლოს.
    </p>

    <div class="image-wrapper" style="position:relative; width:100%; height:0; padding-bottom:56%;">
      <iframe style="position:absolute; width:100%; height:100%;" src="https://www.youtube.com/embed/4RfkWOOjyoc"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <p class="en" style="text-align: right"><b>By Kristine Surguladze</b></p>
    <p class="ge container-hidden" style="text-align: right">
      <b>ავტორი: ქრისტინე სურგულაძე </b>
    </p>
  </div>

  <script src="/static/js/languageChanger.js"></script>
  <div id="sponsors"></div>
  <hr />
  <div id="footer"></div>
</body>

</html>