<!DOCTYPE html>
<html>

<head>

    <title> მონუმენტალიზმი და მურალ არტი</title>
    <meta charset="utf-8">
    <meta name="description" content="ერთი შეხედვით მნახველს შესაძლოა მოეჩვენოს, რომ სტრიტ არტის ...">
    <meta name="keywords" content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta property="og:image" content="/static/images/manAt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css">
    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    <script src="/static/js/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/30311c0b7a.js" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#header").load("/templates/header.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Libro_Los_Viejos_Abuelos_Foto_68.png">
        <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Man at the Crossroads(1933), Diego Rivera </p>

    </div>
    <div class="language-button" id="change-language">
        <h2><i class="fa fa-language" aria-hidden="true"></i> &nbsp
            <p id="language">En</p>
        </h2>
    </div>

    <h1 class="en container-hidden">Monumantaslism And Mural Art</h1>
    <h1 class="ge">მონუმენტალიზმი და მურალ არტი</h1>





    <div class="blog-content">



        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en container-hidden"> Art can have a huge impact on a person, on their conscious or unconscious. Over the centuries it has repeatedly become a weapon for empires, regimes, or religions that seek to influence people. Such a propagandistic approach has always
                    successfully used art as one of the best means of conveying a certain ideology to society. </p>
                <p class="ge"> ხელოვნებას შეუძლია უდიდესი გავლენა იქონიოს ადამიანზე, მის ცნობიერსა თუ არაცნობიერზე. ამიტომ საუკუნეების მანძილზე იგი არაერთხელ გამხდარა ერთგვარი იარაღი იმპერიების, რეჟიმებისა თუ რელიგიებისთვის, რომელთაც სურდათ, რომ ადამიანებზე შეფარვით
                    მოეხდინათ გავლენა. მსგავსი პროპაგანდისტული მიდგომა ყოველთვის წარმატებით იყენებდა ხელოვნებას, როგორც გარკვეული იდეოლოგიის ადამიანებამდე მიტანის ერთ-ერთ საუკეთესო საშუალებას. </p>
            </blockquote>
        </section>

        <p class="en container-hidden">
            Propaganda can be in literature, music, cinematography, architecture or painting, in any field of art, depending on who and what is behind it. However, the propaganda must necessarily be carried out in ways acceptable and relatively easily comprehensible
            to the majority of people. Otherwise, the attempt will simply fail.
            <br>
            <br> For the vast majority of people easily perceivable is exactly what they directly see and hear. Of course, the primary purpose of art is to create a pattern that carries a certain aesthetic, although, over time, it has also been given
            a political function. For example, since the earliest times, constructions such as pyramids, temples, palaces, mausoleums and cathedrals are the objects where the aestheticism and the aim to reflect the power are combined. What characterizes
            the entire architecture of authoritarian systems is Monumentalism, which symbolizes the illusion of strength and superiority.
        </p>
        <p class="ge"> პროპაგანდა შეიძლება იყოს ლიტერატურაში, მუსიკაში, სინემატოგრაფიაში, არქიტექტურასა თუ მხატვრობაში, ხელოვნების ნებისმიერ დარგში, გამომდინარე იქიდან, თუ ვინ და რა დგას მის უკან. თუმცა აღსანიშნავია, რომ პროპაგანდისტული ხელოვნება აუცილებლად უნდა განხორციელდეს
            საზოგადოების უმრავლესობისათვის მისაღები და შედარებით მარტივად აღსაქმელი გზებით. წინააღმდეგ შემთხვევაში, მცდელობა უბრალოდ წარუმატებელი იქნება.
            <br>
            <br> ცალსახაა, რომ ადამიანთა უდიდესი ნაწილისთვის, პირველ რიგში, ყველაზე მარტივად აღსაქმელი და მძაფრი ემოციების გამომწვევიც სწორედ ისაა, რასაც უშუალოდ ხედავენ და რაც უშუალოდ ესმით. რასაკვირველია, ხელოვნების უპირველესი დანიშნულება გარკვეული
            ესთეტიკის მატარებელი ნიმუშის შექმნაა, თუმცა, დროთა განმავლობაში, მას ამასთან ერთად პოლიტიკური დატვირთვაც მიეცა. ამიტომ, ჯერ კიდევ უძველეს დროში ისეთი კონსტრუქციები, როგორებიცაა პირამიდები, ტაძრები, სასახლეები, მავზოლეუმები თუ კათრედრალები,
            რომლებშიც, რასაკვირველია, არის არქიტექტურული ხელოვნებისათვის დამახასიათებელი ესთეტიკაც, საბოლოო ჯამში, იმისთვის იქმნებოდა, რომ ძალაუფლება გამოეხატა. ამგვარად, ავტორიტარული სისტემების არქიტექტურას, ყოველთვის ახასიათებს მონუმენტალიზმი, რომელიც
            სიმბოლურად ძალაუფლებისა და სიდიადის ილუზიას გამოსახავს.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="https://upload.wikimedia.org/wikipedia/commons/6/63/Triumph_St_Ignatius_Pozzo.jpg">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Triumph of St. Ignatius of Loyola'' by Andrea Pozzo. Ceiling of Sant'Ignazio, Rome, Italy. </p>
        </div>
        <p class="en container-hidden">According to the classical definition, a monument refers to a large sculpture or building dedicated to some famous historical event or person. The search for the roots of monumental art leads us to a primitive society. Menhirs, various cult sculptures,
            and paintings in caves reflected man's primitive ideas about supernatural forces. This is how monumental painting was conceived, and, later, with the advent of social classes, social relations became a defining factor in monumental art. Unlike
            easel painting, monumental painting is associated with the decoration and painting of the walls and ceilings of buildings with various types of frescoes, stained glass or mosaics. For centuries, monumental painting has been one of the most
            comprehensible and relatively easy-to-understand ways of conveying the main message of religions as well. The frescoes, which are a kind of ancestor of today's murals, depicted saints and gods, exactly as the religions wanted to show them
            to people: powerful, excellent, greatest and, at the same time, terrifying. It is noteworthy that over time, the expressive aesthetics for religions are variable. For example, monumental frescoes or temple architecture created during the Renaissance
            are significantly different from works created during the Baroque period. The roots of monumentalism are especially noticeable in the Baroque era. Among the outstanding artists of this period is Andrea Pozzo (1642-1709), best known for his
            grand frescoes. Pozzo was using the technique of quadratura to create an illusion of three-dimensional space on flat surfaces. Pozzo's artistic activity was related to the Jesuit Order; many Jesuit churches had been built in recent decades
            and were devoid of painted decoration. He was frequently employed by the Jesuits to decorate churches. In 1676, he decorated the interior of San Francis Xavier church in Mondovì. In this church one can already see his later illusionistic techniques.
            This was his first large fresco. Pietro da Cortona (1596-1669) is also a prominent artist of the Baroque period. He worked mainly in Rome and Venice. Cortona is best known for his frescoed ceilings. the most distinctive fresco of his is in
            Palazzo Barberini in Rome. His frescoes can be found in many other temples as well.
        </p>
        <p class="ge">კლასიკური განმარტებით მონუმენტი დიდი ზომის ძეგლს ან შენობას აღნიშნავს, რომელიც რაიმე ცნობილ ისტორიულ მოვლენას ან პიროვნებას ეძღვნება. მონუმენტური ხელოვნების ფესვების ძიებას პირველყოფილ საზოგადოებამდე მივყავართ. მენჰირები, სხვადასხვა საკულტო ქანდაკებები
            და ნახატები მღვიმეებში ასახავდა ადამიანის პირველყოფილ იდეებს ზებუნებრივ ძალებთან მიმართებაში. სწორედ ასე ჩაისახა მონუმენტური ფერწერაც და, მოგვიანებით, სოციალური კლასების გამოჩენასთან ერთად, მონუმენტური ხელოვნების განმსაზღვრელი ფაქტორი სოციალური
            ურთიერთობები გახდა. დაზგური ფერწერისაგან განსხვავებით, მონუმენტური ფერწერა შენობების კედლებისა და ჭერის სხვადასხვა სახის ფრესკებით, ვიტრაჟებითა თუ მოზაიკით მორთვასა და მოხატულობასთანაა დაკავშირებული.
            <br>
            <br> საუკუნეების განმავლობაში მონუმენტური ფერწერა თავიანთი მთავარი სათქმელის გადაცემის ერთ-ერთი ყველაზე მეტად გასაგები და შედარებით მარტივად აღსაქმელი გზა იყო რელიგიებისთვისაც. ფრესკები, რომლებიც დღევანდელი მურალების ერთგვარი წინაპრები არიან,
            გამოსახავდნენ წმინდანებსა და ღმერთებს, ზუსტად ისეთებს, როგორადაც სურდათ ხალხისთვის მათი ჩვენება: დიდების, აღმატებულების, კეთილების და, ამავდროულად, საშიშებისაც. აღსანიშნავია, რომ დროთა განმავლობაში გამომსახველობითი ესთეტიკა რელიგიებისთვისაც
            იცვლებოდა. მაგალითისთვის, რენესანსის ეპოქაში შექმნილი მონუმენტური ფრესკები ან თუნდაც ტაძართა არქიტექტურა, მნიშვნელოვნად განსხვავდება, ბარაკოს პერიოდში შექმნილი ნამუშევრებისგან. მონუმენტალიზმის ფესვები განსაკუთრებით სწორედ ბაროკოს ეპოქაში შეინიშნება.
            ამ პერიოდის გამორჩეულ მხატვართა შორისაა ანდრეა პოცო (1642-1709), რომელიც ცნობილი იყო თავისი გრანდიოზული ფრესკებით. პოცო აქტიურად იყენებდა ე.წ კვადრატირებას, რაც ერთგვარი ხერხია ბრტელ ზედაპირზე სამ განზომილებიანი ილუზიის შექმნისთვის. პოცოს
            არტსიტული საქმიანობა მთლიანად იეზუტების ორდენთან იყო დაკავშირებული. იმ პერიოდში ბევრი იეზუიტური ტაძარი აშენდა, რომლებსაც მოხატვა ესაჭიროებოდა. ამიტომ ის ხშირად იყო ტაძრების კედლებისა თუ ჭერის მოხატვით დასაქმებული. 1676 წელს იტალიის ერთ-ერთ
            პატარა ქალაქში არსებული ფრანსისკო ხავიერის ტაძრის მოხატულ ინტერიერში უკვე შეინიშნება პოცოს გვიანდელი ვირტუოზული ხერხები. სწორედ აქ შეიქმნა მისი პირველი დიდი ფრესკა. ბაროკოს პერიოდის გამორჩეული მხატვარია პიეტრო და კორტონაც (1596-1669). იგი
            ძირითადად რომსა და ვენეციაში მოღვაწეობდა. კორტონა განსაკუთრებით ცნობილია თავისი ფრესკებით მოხატული ჭერების გამო. მისი ყველაზე გამორჩეული ფრესკა არის რომში არსებულ ბარბერინების სასახლეში და ასევე სხვა არაერთ ტაძარში.
        </p>



        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en container-hidden"> It is noteworthy that in the 20th century, the center of monumental painting became simply a working man and frescoes from churches and salons were shifted to the streets. And it all started in Mexico.</p>
                <p class="ge"> აღსანიშნავია, რომ მე-20 საუკუნეში მონუმენტური ფერწერის ცენტრში ღმერთისაგან და რელიგიასთან დაკავშირებული ადამიანებისაგან განსხვავებით, უბრალოდ მშრომელი ადამიანი მოექცა და ფრესკებმაც ეკლესიებიდან და სალონებიდან ქუჩებში გადაინაცვლა. ყოველივე
                    ეს კი მექსიკიდან დაიწყო. </p>
            </blockquote>
        </section>


        <p class="en container-hidden">Mexicans have a long tradition of mural painting. This legacy dates back to the pre-Hispanic period with an ancient civilization, which produced some of the earliest known painted art in South America. This tradition continued under Hispanic rule
            as murals were used to introduce the Mexican people to the stories and ideas of Catholicism. From this point on, mural painting became one of the most dominant forms of art in Mexican culture. This precedence provided a readymade platform
            for the politically motivated and fostered the birth of the Mexican Muralism movement.
        </p>
        <p class="ge">მექსიკელებს მურალის მხატვრობის უდიდესი ტრადიცია აქვთ. ეს ტრადიცია ჯერ კიდევ წინა ესპანური პერიოდის უძველესი ცივილიზაციიდან იწყება, რომლის დროსაც სამხრეთ ამერიკაში უძველესი მოხატული ხელოვნების ნიმუშები შეიქმნა. ტრადიცია უშუალოდ ესპანელების მმართველობის
            პერიოდშიც გაგრძელდა. ამ პერიოდში მურალების საშუალებით მექსიკელ ხალხს კათოლიციზმის ისტორიებსა და იდეებს უჩვენებდნენ. სწორედ აქედან მოყოლებული გახდა მურალ არტი მექსიკაში ხელოვნების ერთ-ერთი ყველაზე დომინანტური სახეობა. თავის მხრივ, ამან შექმნა
            მზა პლატფორმა პოლიტიკურად მოტივირებული ადამიანებისათვის და, მოგვიანებით, ხელიც შეუწყო მექსიკური მურალისტური მოძრაობის ჩამოყალიბებას.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static/images/david3.png">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">David Alfaro Siqueiros, José Clemente Orozco and Diego Rivera - Fathers of the Mexican muralist school. </p>
        </div>

        <p class="en container-hidden">The Mexican Muralism movement was preceded by the Mexican Revolution, which began in 1910 with a revolt against the tyrannical president Porfirio Diaz. The revolt was followed by a ten-year civil war led by various leaders. These leaders consorted
            with a group of radical intellectuals. The Manifesto, written in 1906, expressed a desire to create a new art movement in Mexico which would speak to the interests and realities of the Mexican people. This document was an important precursor
            to the Mexican Muralist movement, and was seen and admired by many artists, including Diego Rivera who was one of the prominent members of the Mexican Muralism Movement. When the Mexican Revolution ended in 1920 and Diaz had been overthrown,
            the new government's aim was to establish a new era for Mexico and its newly empowered people, and one of the ways it planned to do this was through art. The new government decided to commission a large number of public works of art which
            would promote and support the values fundamental to the revolution, it would also present a rich history and culture of Mexico and at the same time, the works would reflect moving forward into the modern age. Most Mexicans at the time were
            illiterate, and promoting the new government's message could not be accomplished through traditional media such as pamphlets and newspapers.


        </p>
        <p class="ge">მექსიკური მურალიზმის მოძრაობას წინ მექსიკური რევოლუცია უძღოდა, რომელიც 1910 წელს ტირანი პრეზიდენტის პორფირიო დიაზის წინააღმდეგ აჯანყებით დაიწყო. აჯანყებას ათწლიანი სამოქალაქო ომი მოჰყვა, რომელსაც სხავდასხვა ლიდერები ედგნენ სათავეში. აღსანიშნავია,
            რომ მალევე ამ ლიდერებს რადიკალისტ ინტელექტუალთა დაჯგუფებაც შეუერთდა. 1906 წელს დაწერილი მანიფესტი, გამოთქვამდა მექსიკაში ახალი ხელოვნების მოძრაობის შექმნის სურვილს. ახალ ხელოვნებას მექსიკელი ხალხის ინტერესებსა და რეალობაზე უნდა ესაუბრა.
            <br>
            <br> ეს მანიფესტი მექსიკური მურალისტური მოძრაობის მნიშნელოვანი წინამორბედი გახდა და მისით არაერთი არტისტი მოიხბილა, მათ შორის დიეგო რივერაც, რომელიც მექსიკური მურალიზმის მოძრაობის ერთ-ერთი გამორჩეული წევრი იყო. 1920 წელს, როდესაც პრეზიდენტი
            დიაზი საბოლოოდ ჩამოაგდეს და რევოლუციაც დასრულდა, ახალი მთავრობის მიზანი გახდა, რომ მექსიკაში ახალი ერა დაწყებულიყო, სადაც ხალხი გაცილებით ძლიერი იქნებოდა, ხოლო ყოველივე ეს კი ხელოვნებაშიც უნდა ასახულიყო. სწორედ ამიტომ მთვარობამ გადაწყვიტა,
            არტისტებისთვის ბევრი საჯარო ნამუშევრის შექმნა დაევალებინა, რომელთა სათქმელიც რევოლუციის იდეასა და საფუძველის მხარდაჭერასთან ერთად, მექსიკის მდიდარი ისტორიისა და კულტურის წარმოჩენაც იქნებოდა. ამავდროულად კი ნამუშევრებს უნდა გამოესახა ისიც,
            თუ როგორ მიდიოდა მექსიკელი ადამიანი თანამედროვეობისკენ. აღსანიშნავია, რომ იმ პერიოდში მექსიკის მაცხოვრებლები არ იყვნენ იმდენად განათლებულები, რომ მთავრობის მესიჯები ტრადიციულ მედიაში - გაზეთებში ან პამფლეტებში ეკითხათ.

        </p>

        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en container-hidden"> Instead, the government communicated their cause through large murals in public places which could be seen by many. The purpose of the murals was to simultaneously evoke in the visitor a sense of pride and admiration for beauty. The murals'
                    aesthetic appeal would also help Mexicans adapt to the new regime. The murals sought to popularize the ideas of the government and glorify the revolution at the same time. The government hired the best artists to create these murals.
                </p>
                <p class="ge"> ამიტომ გადაწყდა, რომ შექმნილიყო უზარმაზარი მურალები, რომლებიც მთავრობის პროპაგანდას გააჟღერებდა, რადგან ისინი საჯარო ადგილებში იქნებოდნენ გამოსახულები და მათ ბევრი ადამიანი ერთდროულად ნახავდა. მურალების მიზანი იყო მნახველში ერთდროულად
                    გამოეწვია სიამაყის განცდა და სილამაზით აღტაცება. პარალელურად კი, შეფარულ პროპაგანდას მნახველნი ახალი რეჟიმისთვის მარტივად უნდა მოერგო. მურალები მთავრობის იდეების პოპულარიიზაციას და რევოლუციის განდიდებას ერთდროულად ესწრაფოდნენ. ამ მურალების
                    შესაქმენლად მთავრობამ საუკეთესო მხატვრები დაასაქმა. </p>
            </blockquote>
        </section>

        <p class="en container-hidden">
            Among those artists were Diego Rivera, David Alfaro Siqueiros and Jose Clemente Orozco. They made a great contribution to the formation and development of the Mexican Muralism movement and are still called the "Big Three". Before the revolution Diego Rivera had
            spent time in Europe, which is why he was well acquainted with the movement of European realism, in which the artists always tried to reflect the problems of the working class. It had the greatest impact on the Mexican Muralism movement style.
            Interestingly, Mexican artists painted murals in a way that would fit the wall of a particular building, so they abandoned the traditional rectangular shape of the canvas, which later had a major impact on Western art.
            <br><br> There were many socialists among mural artists, and they were actively introducing the details of socialism into their works. For example, Orozco used to paint hammer and sickle, Rivera even painted Lenin in one of his murals. Despite
            their leftism, they still get influenced by capitalist industrial innovations and often portrayed a person of the future living in a technologically advanced time. At first, the government did not interfere much in the subject of their paintings,
            as they faithfully complied with government-mandated propaganda, however, in the late 1920s they began to exercise strict control over the artists. Finally Alfero was exiled from his home country, as for Rivera, he had to adapt his style.
            <br><br> Simultaneously, from about the same time, the Soviet Union began to produce regime and socialist propaganda. From the very beginning of its era Soviet Union strictly said what soviet art should be like and how soviet art should be
            created. Lenin once said that the cinema had to be the best weapon for Soviet propaganda. It is true that soviet cinema was always full of not only of Soviet ideals and values, but also illusions of how good, calm, and trouble-free the period
            was. In Soviet times, not only cinema was a carrier of propaganda; there were a number of propagandistic writers, artists and even sculptors. Throughout the twentieth century, Soviet art was defined by such concepts as Stalinist style, ideological
            art, monumental propaganda, and so on. Monumental art also became popular especially in the 60s and 70s. From the 70s Zurab Tsereteli, recognized as a Soviet People's Artist, has been actively working. He owns such famous works as "Monument
            to St. Nino" at the entrance to Tbilisi, "St. George” erected on Freedom Square, "Monument of Peter the Great" in Moscow, "History of Georgia" near the Tbilisi Sea, etc. However, it should be noted that the idea of creating monumental art
            was expressed by Lenin as early as the spring of 1918. Lenin especially liked the utopian work "The City of the Sun" by the Italian philosopher Tomaso Campanella (1568-1639) and his idea in this book; it was about the decoration of the city
            walls with frescoes. Because of Campanella Lenin decided to paint slogans on the walls in Soviet countries containing short but expressive inscriptions. Lenin also pointed out that he considered monuments more important than inscriptions:
            busts or entire figures depicting an important historical event or figure. So huge statues of various prominent people were erected in the Soviet Union.
        </p>
        <p class="ge"> იმ მხატვართა შორის ყველაზე ცნობილები არიან დიეგო რივერა, დევიდ ალფარო სიკეიროსი  და ხოსე კლიმენტ ოროსკო. მათ უდიდესი წვლილი შეიტანეს მექსიკური მურალიზმის მოძრაობის ჩამოყალიბებასა და განვითარებაში და დღემდე „დიდ სამეულად“ იწოდებიან. აღსანიშნავია, რომ დიეგო
            რივერას რევოლუციამდელი დრო ევროპაში ჰქონდა გატარებული, რის გამოც კარგად იცნობდა მაშინდელი ევროპული რეალიზმის მოძრაობას, რომელში გაწევრიანებული მხატვრებიც მუდამ ცდილობდნენ აესახათ მუშათა კლასის პრობლემები. სწორედ ამან იქონია უდიდესი გავლენა
            მექსიკური მურალიზმის მოძრაობის სტილზე. თავის მხრივ, საინტერესოა ისიც, რომ მექსიკელი მხატვრები მურალებს ხატავდნენ ისეთი ფორმით, როგორადაც ეს კონკრეტული შენობის კედელს მოერგებოდა, ამიტომ მათ, გაკვერულწილად, უარი თქვეს, ტრადიციული ტილოს მართკუთხა
            ფორმაზე, რამაც მოგვიანებით დასავლურ ხელოვნებაზე იქონია დიდი გავლენა.
            <br><br> აღსანიშნავია, რომ მურალისტ მხატვართა შორის ბევრი სოციალისტი იყო და სოციალიზმის დეტალები აქტიურად შეჰქონდათ თავიანთ ნამუშევრებში. მაგალითად, ოროსკო ხატავდა ნამგალსა და უროს, რივერამ თავის ერთ-ერთ ფრესკაში ლენინიც კი გამოსახა. მიუხედავად
            მათი მემარცხენეობისა, ისინი მაინც განიცდიდნენ ინდუსტრიულ-კაპიტალისტური ინოვაციების გავლენას და ხშირად გამოსახავდნენ მომავლის ადამიანსაც, რომელიც ტექნოლოგიურად განვითარებულ დროში ცხოვრობს. თავდაპირველად, მთავრობა დიდად არ ერეოდა მათი ნახატების
            თემატიკაში, რამდენადაც ისინი პირნათლად ასრულებდნენ მთავრობის მიერ დავალებული პროპაგანდის გავრცელების მოთხოვნას, თუმცა, 20-იანი წლების ბოლოს მკაცრად დაიწყო მხატვრების კონტროლი, რის შედეგადაც ალფერო ქვეყნიდან გადაასახლეს, რივერას კი თავისი სტილის
            ახალ რეჟიმზე გადაწყობამ მოუწია.
            <br><br> დაახლოებით იმავე პერიოდიდან მოყოლებული მექსიკის პარალელურად რეჟიმისა და სოციალისტური პროპაგანდის წარმოებას ეწეოდა საბჭოთა კავშირიც. აღსანიშნავია, რომ საბჭოთა კავშირმა თავიდანვე ძალიან მკაცრად გაწერა, თუ როგორი უნდა ყოფილიყო, რა უნდა
            გამოესახა და რა მეთოდებით უნდა ეარსება მაშინდელ ხელოვნებას. გარდა ამისა, როგორც ლენინმა განაცხადა საბჭოეთის პროპაგანდისთვის ყველაზე კარგი იარაღი უნდა ყოფილიყო და, გარკვეუწილად, იყო კიდეც საბჭოთა კინო, რომელიც შეფარვით მუდამ სავსე იყო არამხოლოდ
            საბჭოეთის იდეალებითა და ღირებულებებით, არამედ იმ ილუზიებითაც, თუ როგორი კარგი, მშვიდი და უპრობლემოა მაშინდელი პერიოდი. საბჭოთა პერიოდში მხოლოდ კინო არ იყო პროპაგანდის მატარებელი; გვყავდა რიგი პროპაგანდისტი მწერლები, მხატვრები და მოქანდაკეებიც
            კი. მთელი მეოცე საუკუნის მანძილზე საბჭოთა ხელოვნება ისეთი ცნებებით განისაზღვრებოდა, როგორებიცაა სტალინური სტილი, იდეოლოგიური ხელოვნება, მონუმენტური პროპაგანდა და ა.შ. 60-70-იანი წლებიდან მოყოლებული განსაკუთრებით პოპულარული გახდა მონუმენტური
            ხელოვნებაც. 70-იანი წლებიდან მოყოლებული აქტიურად მუშაობდა საბჭოთა სახალხო მხატვრად აღიარებულ ზურაბ წერეთელი, რომელსაც ეკუთვნის ისეთი ცნობილი ნამუშევრები, როგორებიცაა თბილისის შესასვლელში არსებული „წმინდა ნინოს მონუმენტი“, თავისუფლების მოედანზე
            აღმართული „წმინდა გიორგი“, მოსკოვში მდგარი „პეტრე პირველის ძეგლი“, თბილსის ზღვაზე არსებული „საქართველოს ისტორია“ და ა.შ. თუმცა, უნდა აღინიშნოს, რომ მონუმენტალისტური ხელოვნების შექმნის იდეა ლენინმა ჯერ კიდევ 1918 წლის გაზაფხულზე გამოთქვა. ლენინს
            განსაკუთრებით მოსწონდა იტალიელი ფილოსოფოსის ტომასო კამპანელას (1568-1639) უტოპიურ ნაშრომში "მზის ქალაქი" გაჟღერებული კამპანელას ერთ-ერთი იდეა; ეს იყო ქალაქის კედლების ფრესკებით გაფორმება. ლენინმა სწორედ კამპანელას შემოქომედებასთან გაცნობის
            მერე გადაწყვიტა საბჭოთა ქვეყნებში კედლებზე მოკლე, თუმცა ექსპრესიული წარწერების შემცველი ლოზუნგების გამოსახვა. ლენინი აგრეთვე აღნიშნავდა, რომ წარწერებზე უფრო მნიშვნელოვნად ძეგლები მიაჩნდა; ასევე ბიუსტები ან მთლიანი ფიგურები, შესაძლოა ბარელიეფებიც
            კი, რომლებიც მნიშვნელოვან ისტორიულ მოვლენას ან ფიგურას გამოსახავდნენ. ამიტომ საბჭოთა კავშირში მასიურად იდგმებოდა სხვადასხვა გამოჩენილი ადამიანების უზარმაზარი ქანდაკებები და იქმნებოდა სხვადასხვა მონუმენტები.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 45%; display: inline-block;" src="/static/images/58c4da6bc496595af5b11eff9e343a42.jpg">
            <img style="width: 45%; display: inline-block;" src="/static/images/Layer 1.jpg">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Soviet(1937) and  Nazi(1938) Sculptures
            </p>
        </div>

        <p class="en container-hidden">Along with the Soviet Union, monumentalism also manifested itself in Nazism. Nazi Germany and the Soviet Union have been two extremely opposing sides for years, however, from today’s perspective, it is easy to see how much they had in common.
            Like in the Soviet Union, leaders in Nazi Germany were aware how huge impact a statue could have on people. A statue not within the gallery walls, but standing outside in the streets. Monumentalism was also noticeable in Nazi architecture,
            which is one of the largest manifestation of totalitarian architecture.
        </p>
        <p class="ge">საბჭოთა კავშირის პარალელურად, მონუმენტალიზმმა თავი იჩინა ნაციზმშიც. ნაცისტური გერმანია და საბჭოთა კავშირი წლების მანძილზე ორ უკიდურესად დაპირისპირებულ მხარეს წარმოადგენდა, თუმცა, დღეის გადასახედიდან, უკვე მარტივი შესამჩნევია თუ რამდენი რამ ჰქონდათ
            საერთო. ისევე როგორც საბჭოთა კავშირში, ნაცისტურ გერმანიაშიც არაჩვეულებრივად ესმოდათ ის, თუ როგორი გავლენა შეიძლებოდა ჰქონოდა ხალხზე უზარმაზარ ქანდაკებას, რომელიც გალერიის კედლებში კი არ იყო მოქცეული, არამედ გარეთ - ქუჩებში იდგა. მონუმენტალიზმი
            შეიმჩნეოდა ნაცისტურ არქიტექტურაშიც, რომელიც სტალინურ არქიტექტურასთან ერთად, ტოტალიტარული არქიტექტურის ერთ-ერთი ყველაზე მასშტაბური გამოვლინებაა.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="https://media.ford.com/content/fordmedia/feu/en/news/2018/02/22/ford-claims-title-for-worlds-largest-billboard--certified-by-gui/jcr:content/image.img.881.495.jpg/1520027056806.jpg">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Largest advertisement billboard by Ford </p>
        </div>

        <p class="en container-hidden">
            The newly emerging advertising business in capitalist world is also well aware how huge impact the art can have on viewers. Because of this, commercials soon shifted from TV screens to the streets and became billboards. The principle is simple, the larger
            the image, the more popular the product depicted on it. The largest advertising billboard belongs to Ford, which is certified by the Guinness Book of Records. The Ford ad was displayed on one of the buildings in Madrid. The billboard weighed
            a total of two tons and occupied 470 windows. Murals and frescoes are ancestors of digital billboards. Digital billboards allow modern businesses to place advertisements much more easily in crowded places. The largest digital billboard can
            be found in Times Square in New York. It is easily noticeable that the monuments created during the Soviet era, and even later, are constantly associated with political figures, the saints and various historical events. That is why nowadays
            historical memory is so firmly rooted in the consciousness of the society that they believe if someone or something is going to be monumentalized, it must necessarily be of some particular merit. Otherwise its depiction seems inadmissible.
            Also, nowadays what is grandly depicted, is definitely an advertisement of something. Therefore people find it difficult to grasp that:
        </p>
        <ul class="en container-hidden">
            <li> Mural art has always come from the ordinary people and not from the elite, therefore it also reflects the ordinary people and not the elite.</li>
            <li> Murals, like other fields of street art, often carry social messages as they reflect the protests of the artist and people.</li>
            <li>With the free will of the artist, Mural can be provocative in order to get more attention to convey his social message to society.</li>
            <li>
                The modern mural art is not carrying any propaganda or ad. Some murals can be a sudden inspiration of the artists whenever they see a wall.
            </li>
            <li>The theme of the mural is not limited to depicting historical events or prominent public figures; the artist is free; so they can portray any event they can see or any ordinary person walking down the street while they’re painting.</li>
        </ul>
        <p class="ge">მონუმენტალისტური ხელოვნების ეფექტის მოხდენის უნარი კარგად გაითავისა კაპიტალისტურ სამყაროში ახლად აღმოცენებულმა რეკლამის ბიზნესმაც. ამის გამო რეკლამებმა ტელევიზორის ეკრანებიდან ქუჩებში მალევე გადმოინაცვლა და ბილბორდებად იქცა. პრინციპი მარტივია,
            რაც უფრო დიდია გამოსახულება, მით უფრო მეტია მასზე გამოსახული პროდუქტის პოპულარობაც. აღსანიშნავია, რომ ყველაზე დიდი სარეკლამო ბილბორდი ფორდს ეკუთვნის, რომელიც დღესდღეობით გინესის რეკორდებშია შესული. ფორდის რეკლამა მადრიდში არსებულ ერთ-ერთ შენობაზე
            გამოსახეს. ბილბორდის ჯამში ორ ტონას იწონიდა და 470 ფანჯარას იკავებდა. ფრესკებისა და მურალების გამოძახილია ციფრული ბილბორდებიც, რომლებიც თანამედროვე ბიზნესებს საშუალებას აძლევთ, რომ რეკლამა გაცილებით მარტივად განათავსონ ხალხით სასვე ადგილებში.
            ყველაზე დიდი ციფრული ბილბორდის ნახვა ნიუ-იორკში თაიმს სკვერშია შესაძლებელი. ადვილი შესამჩნევია, რომ საბჭოთა კავშირის პერიოდში, და მოგვიანებითაც, შექმნილი მონუმენტები მუდმივად პოლიტიკურ ფიგურებთან, წმინდანებთან და სხვადასხვა ისტორიულ მოვლენებთანაა
            დაკავშირებული. სწორედ ამიტომ, დღესდღეობითაც, ისტორიულ მახსოვრობას იმდენად მყარად აქვს ფესვები გადგმული საზოგადოების ცნობიერში, რომ მიაჩნიათ, თუკი ვინმე ან რამე მონუმენტურად გამოისახება, იგი აუცილებლად რაიმე კონკრეტული დამსახურებისა უნდა იყოს.
            წინააღმდეგ შემთხვევაში მისი გამოსახვა თითქოს დაუშვებელია. ამას ემატება დღევანდელობის მოცემულობაც: რაც გრანდიოზულადაა გამოსახული, ის აუცილებლად რაღაცას არეკლამებს. ამიტომ წარსულის გამოცდილებითა და დღევანდელობის გათვალისწინებით, ადამიანებს უჭირთ
            გაითავისონ, რომ:
        </p>
        <ul class="ge">
            <li>მურალის ხელოვნება ოდითგანვე მოდის ხალხიდან და არა ელიტიდან, შესაბამისად ის ასევე ასახავს ხალხს და არა ელიტას.
            </li>
            <li>მურალები, ისევე როგორც სტრიტ არტის სხვა მიმართულებები, ხშირ შემთხვევაში, სოციალური მესიჯების მატარებელია, ვინაიდან იგი ირეკლავს მხატვირის და, შესაბამისად, ხალხის სათქმელსა და პროტესტს.</li>
            <li>მხატვრის თავისუფალი ნებით, მურალი შეიძლება იყოს პროვოკაციული, რათა უფრო მეტი ყურადღება მიიქციოს, ისევ და ისევ თავისი სოციალური მესიჯის გადაცემის მიზნით.</li>
            <li>თანამედროვე მურალ არტი არ არის არანაირი პროპაგანდის ან რეკლამის მატარებელი. იგი არის მხოლოდ და მხოლოდ მხატვრის შთაგონების წყარო, რომელიც შესაძლოა, სულაც მაშინ გაჩნდეს, როცა მხატვარი მოსახატ კედელთან მივა.
            </li>
            <li>მურალის თემატიკა არ იზღუდება ისტორიული მოვლენების ან გამოჩენილ საზოგადო მოღვაწეთა გამოსახვით; მხატვარი თავისუფალია; ამიტომ მან შეიძლება გამოსახოს ქუჩაში მიმავალი ნებისმიერი უბრალო ადამიანი ან მოვლენა.</li>
        </ul>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static/images/innerfields 1 2020.png">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Mural, Innerfields, Tbilisi 2020 </p>
        </div>
        <p class="en container-hidden" style="text-align: right;"><b>By Kristine Surguladze <br> Besik Maziashvili</b></p>
        <p class="ge"style="text-align: right;"><b>ავტორები: ქრისტინე სურგულაძე <br> ბესიკ მაზიაშვილი</b></p>
    </div>


    <script src="/static/js/languageChanger.js"></script>
    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>