<!DOCTYPE html>
<html>

<head>

    <title> სტრიტ არტის მრავალფეროვანი სამყარო</title>
    <meta charset="utf-8">
    <meta name="description" content="ერთი შეხედვით მნახველს შესაძლოა მოეჩვენოს, რომ სტრიტ არტის ...">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css">
    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    <script src="/static/js/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/30311c0b7a.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="/static/images/article image.jpg">
        <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Haus Schwarzenberg (Berlin) </p>

    </div>
    <div class="language-button" id="change-language">
        <h2><i class="fa fa-language" aria-hidden="true"></i> &nbsp <p id="language">En</p>
        </h2>
    </div>
    <h1 class="en container-hidden">Vibrant World Of Street Art</h1>
    <h1 class="ge">სტრიტ არტის მრავალფეროვანი სამყარო</h1>
    <div class="blog-content">
        <p class="en container-hidden">At first glance, it may seem that some forms of street art are easily created, which is false. It
            is a
            conceptual, multi-layered art and lots of aspects need to be taken into account while making a single
            finished work. A painting made by a street artist must be memorable, catchy, comprehensible and at the same
            time it needs to contain a certain message and idea in order to be imprinted in a consciousness of an
            individual as soon as it is perceived. Perhaps this is the exact reason why eventually street art as an
            urban art-form began to expand, and street artists started to develop new forms to express not only
            themselves but their own ideas as well. As a result, nowadays we can sort out quite a few types of street
            art, which gained popularity not just in society but amongst critics as well.</p>
        <p class="ge">ერთი შეხედვით მნახველს შესაძლოა მოეჩვენოს, რომ სტრიტ არტის ზოგიერთი ფორმა მარტივი
            შესაქმნელია, თუმცა ეს ასე არ არის. ეს კონცეპტუალური, მრავალშრიანი ხელოვნებაა, რომელსაც ერთი ნამუშევრის
            შექმნისას მრავალი რამის მხედველობაში მიღება და გათვალისწინება უწევს. ქუჩის მხატვრების მიერ შექმნილი ნახატი
            უნდა იყოს დასამახსოვრებელი, ერთბაშად აღსაქმელი და ამავდროულად უნდა ატარებდეს გარკვეულ იდეას და მესიჯს, რათა
            ადამიანთა ცნობიერში ნახვისთანავე აღიბეჭდოს. ალბათ სწორედ ამ მიზეზით, დროთა განმავლობაში სტრიტ არტმა, როგორც
            ურბანულმა ხელოვნებამ, გაფართოება დაიწყო და საკუთარი თავისა და სათქმელის გამოსახატად ქუჩის მხატვრებმა ახალ
            ახალი ფორმების შემუშავებას მიჰყვეს ხელი. შედეგად დღეისათვის სტრიტ არტის საკმაოდ ბევრი ქვეჟანრის გამოყოფა
            შეგვიძლია, რომელებიც განსხვავებული პოპულარობით სარგებლობს არამხოლოდ საზოგადოებაში, არამედ ხელოვნების
            კრიტიკოსებშიც. </p>
        
        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;"
                src="https://fineartmultiple.com/media/blog/499/jean-michel_basquiat_1.jpg">
                <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Throw-Up, Jean-Michel Basquiat, Set of "Downtown 81", New York </p>

        </div>
        <p class="en container-hidden">The oldest and arguably simplest forms of street art is <b>graffiti</b>, which are further divided
            into
            several sub
            forms. The creators of graffiti have maintained anonymity and usually they hide behind fictional codes,
            symbols and pseudonyms. Graffiti is one of the most flexible means of expression which is why it has
            developed so many new branches. Among those branches we need to sort out the most popular trends:
            <b>tags</b>,
            whose creators paint their pseudonyms on the walls. This trend has been around since 1971 and it is mostly
            related to Julio 204 and Taki 183, who were the first ones to include their address number next to their
            pseudonyms. This was followed by <b>Throw-Ups</b> that are painted very quickly because back in the day
            artists had
            to be fast to finish their work and get away as soon as possible to avoid police confrontation. Still this
            one is more of a sophisticated form of graffiti than tags. Tags and Throw-Ups are used in so-called
            <b>Bombing</b>
            when street artists work together and try to paint the selected areas, walls or trains within a very short
            timeframe. The branches of graffiti also include <b>stencil</b>, <b>stickers</b> and <b>posters</b> which
            have become especially
            popular lately. Typically stencil graffiti uses stencil templates made of paper, cardboard or a thin metal
            with cutout paintings and designs on them. This form is very convenient because one template can be reused
            over and over to spray on different locations.
        </p>
        <p class="ge">ამ ფორმებიდან ყველაზე ძველი და, შეიძლება ითქვას, ყველაზე მარტივიც
            <b>გრაფიტია</b>,
            რომელიც თავის მხრივ კიდევ იყოფა რამდენიმე ნაწილად. გრაფიტის ავტორები ოდითგანვე ინარჩუნებენ ანონიმურობას და,
            როგორც წესი, ისინი გამოგონილი კოდების, სიმბოლოებისა და ფსევდონიმების სახელების უკან იმალებიან. გრაფიტი ძლიერ
            მოქნილი გამომხატველობითი საშუალებაა და სწორედ ამის გამო მან უამრავი განშტოება იპოვნა. ამ განშტოებებს შორის
            ალბათ აუცილებლად უნდა გამოიყოს ყველაზე პოპულარული მიმართულებები: <b>ტეგი</b>, რომელიც კედელზე ავტორის
            ფსევდონიმის
            დახატვას გულისხმობს. ეს მიმართულება 1971 წლიდან გავრცელდა და იგი ყველაზე მეტად ჯულიო 204-ს და ტაკი 183-ს
            უკავშირდება, რომლებიც პირველები იყვნენ ვინც ფსევდონიმის გვერდით თავიანთი მისამართის ნომერიც მიაწერეს. ამას
            მოჰყვება ე.წ <b>„Throw-Ups”</b> , რომელიც აგრეთვე ძალიან მარტივად და სწრაფად დაიტანება კედელზე, ვინაიდან
            მხატვარს
            უნდა მოესწრო ნამუშევრის დასრულება და გაქცევა, სანამ სამართალდამცავი ფაქტზე დაიჭერდა. თუმცა Throw-Ups მაინც
            უფრო მეტად განვითარებული ფორმაა, ვიდრე ტეგი. ტეგებსა და Throw-Ups-ს იყენებენ ე.წ <b>ბომბინგისას</b>,
            როდესაც ქუჩის
            მხატვრები ერთად მუშაობენ და დროის ძალიან მცირე მონაკვეთში ცდილობენ მოხატონ შერჩეული ადგილები, კედლები ან
            მატარებლები. განშტოებებში შედის <b>სტენსილი</b>, <b>სტიკერები</b> და <b>პოსტერებიც</b>, რომლებიც ბოლო
            პერიოდში განსაკუთრებით დიდი
            პოპულარობით სარგებლობს. როგორც წესი სტენსილი იყენებს შაბლონებს, რომელიც ქაღალდისგან, მუყაოსგან, ან თუნდაც
            თხელი მეტალისგანაა დამზადებული და მასზე ნახატი ან დიზაინია ამოჭრილი. შაბლონები პულველიზატორის დახმარებით
            სასურველ ადგილზე გადააქვთ და მათი გამოყენება საკმაოდ ეფექტურია. </p>
        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 30%; display: inline-block;" src="/static/images/image12.jpg">
            <img style="width: 30%; display: inline-block;" src="/static/images/image10.jpg">
            <img style="width: 30%; display: inline-block;" src="/static/images/lego.jpg">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Posters and Stickers(left),
                Stencil Banksy(center), Jan vormann’s street Lego art(right) </p>
        </div>
        
        <section class="blockquote-section">
            <blockquote class="classy-bq">
              <p class="en container-hidden"><b>Murals</b> are one of the most common types of street art alongside graffiti. According to the
            dictionary
            a mural
            is a fresco, a painting that is executed directly on the wall. Like classical graffiti, murals also have a
            certain history and roots from the past, as famous painters such as Leonardo da Vinci and Michelangelo were
            also creating murals. However, murals we see nowadays on huge walls in public places are considered to be
            one aspect of street art. The history of murals’ development is closely intertwined with the history of
            street art development that dates back to the second half of the 20th century. Just like graffiti, murals
            are also distinguished by different types, including <b>abstract murals</b>, <b>painted murals</b> and
            <b>ceramic murals</b>
            which can be described as mosaics.
        </p>
        <p class="ge">გრატფიტის პარალელურად სტრიტ არტის ერთ-ერთ ყველაზე მეტად გავრცელებულ ტიპს
            <b>მურალი</b>
            წარმოადგენს. ლექსიკონისეული განმარტებებით მურალი ფრესკაა, ნახატი, რომელიც პირდაპირ და აუცილებლად კედელზეა
            შესრულებული. ისევე როგორც კლასიკურ გრაფიტს, მურალსაც აქვს გარკვეული ისტორია და ფესვები, რომლებიც წარსულში
            უნდა ვეძიოთ, რადგან ისეთი ცნობილი მხატვრები, როგორებიც ლეონარდო და ვინჩი და მიქელანჯელო იყვნენ, სწორედ
            მურალებს ქმნიდნენ. თუმცა ის მურალები, რომელთაც დღესდღეობით საჯარო სივრცეში არსებულ უზარმაზარ კედლებზე
            ვხვდებით, სტრიტ არტის ერთ-ერთ ასპექტად მიიჩნევა. მათი მსგავსად განვითარების ისტორია კი მჭიდროდაა გადაჯაჭვული
            თავად სტრიტ არტის, როგორც ურბანული ხელოვნების განვითარების ისტორიასთან, რომელიც სწორედ მეოცე საუკუნის მეორე
            ნახევრიდან იწყება. ისევე როგორ გრაფიტში, მურალებშიც გამოიყოფა სხვადასხვა ტიპები, მათ შორის <b>აბსტრაქტული
            მურალები</b>, <b>მოხატული მურალები</b> და <b>კერამიკული მურალები</b>, რომლებიც ერთგვარი მოზაიკაა. </p>
            </blockquote>
        </section>

        <p class="en container-hidden">Today among the most common and popular forms of street art is 3D graffiti. Street artists
            practice very hard
            for improving their skills to create 3D graffiti. Usually 3D graffiti is hyper realistic thus it
            gives off
            an illusion that painted objects are popping from the walls.
            Another type of street art is <b>sideway chalk art</b> - 3D paintings on pavements and roads. This
            type of
            street
            art looks entertaining but it can also be terrifying. As the name implies, this form of street art
            is
            created with chalk.</p>
        <p class="ge">დღესდღეობით სტრიტ არტის გავრცელებულ და ცნობილ ფორმას წარმოადგენს
            <b>სამგანზომილებიანი კედლის გრაფიტიც</b>, რომლის შექმნისათვის საჭირო უნარების დასახვეწად მხატვრები
            ძალიან
            ბევრს შრომობენ. კედლის სამგანზომილებიანი გრაფიტი, როგორც წესი, წარმოადგენს ერთგვარ ჰიპერრეალისტურ
            ილუზიას და ქმნის განცას, რომ თითქოს ნახატი კედლიდან გადმოდის.
            სტრიტ არტის ქვეჟანრთა რიცხვს მიეკუთვნება <b>ტროტუარის არტი</b>, რაც ცარცით სამგანზომილებიანი ნახატების
            შექმნას გულისხმობს ტროტუარებსა და გზებზე. მსგავსი ნახატები ხშირად სახალისოდ ან შეიძლება
            შემაძრწუნებლადაც კი გამოიყურებიან. ასეთი ნახატების შესაქმენლად მხატვრები ცარცს იყენებენ. </p>


        
        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 30%; display: inline-block;" src="/static/images/image9.jpg">
            <img style="width: 30%; display: inline-block;" src="/static/images/unnamed.jpg">
            <img style="width: 30%; display: inline-block;" src="/static/images/sven.jpg">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Yarn Bombing(left), Face
                sculpture by Gregos(center), Carved Portrait by Vhils(right) </p>
        </div>
        <p class="en container-hidden">
            It is noteworthy that this growing and ever-changing urban art medium does not only include paintings.
            Street art also includes street <b>installations</b> and <b>sculptures</b>, <b>Moss art</b> which is a
            relatively new trend that
            makes decorations using moss and plants, even <b>flash mob</b> and<b> yarn bombing</b>. Yarn bombing is a
            brand new type
            of street art which appeared in 2002 and it is created by covering the body of a tree with different colored
            yarns. It is absolutely safe for the trees.</p>
        <p class="ge">აღსანიშნავია, რომ ეს მზარდი და მუდმივად ცვალებადი ურბანული ხელოვნება თავის თავში
            მხოლოდ ნახატებს არ მოიცავს. სტრიტ არტს მიეკუთვნება ქუჩაში დადგმული <b>ინსტალაციები</b> და <b>სკულპტურები</b>, ახლად
            გაჩენილი ხავსითა და მცენარეებით შექმნილი <b>დეკორაციები</b>,<b> ფლეშმობიც</b> კი და <b>ხეების ტანის ნართით</b> დაფარვაც, რომელიც
            სულ ახლახანს, 2002 წელს გამოჩნდა პირველად და უნდა ითქვას, რომ ხეებისათვის აბსოლუტურად უსაფრთხოა. </p>
        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en container-hidden">It is quite interesting that based on the experience street art will inevitably find new
                    ways to expand over
                    time to create even more authentic and diverse artifacts in the streets, for it’s been a while that
                    modern
                    art is free and no longer bound to be exhibited in galleries.</p>
                <p class="ge">საინტერესოა, რომ გამოცდილებაზე დაყრდნობით სტრიტ არტი დროთა განმავლობაში
                    აუცილებლად იპოვის ახალ გზებს, კიდევ უფრო მეტად ავთენტური და მრავალფეროვანი ხელოვნების ნიმუშების
                    შესაქმნელად. თუნდაც ქუჩებში, რადგან დიდი ხანია თანამედროვე ხელოვნება თავისუფალია და მხოლოდ გალერიებს
                    აღარ ეკუთვნის. </p>
            </blockquote>
        </section>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static/images/innerfields 1 2020.png">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Mural, Innerfields, Tbilisi 2020 </p>
        </div>
        <p class="en container-hidden"><b>By Kristine Surguladze</b></p>
        <p class="ge"><b>ავტორი: ქრისტინე სურგულაძე</b></p>
    </div>


    <script src="/static/js/languageChanger.js"></script>
    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>