<!DOCTYPE html>
<html>

<head>

    <title>Rashford</title>
    <meta charset="utf-8">
    <meta name="description"
        content="2020 წელი კაცობრიობის ისტორიაში ნამდვილად გამორჩეულ და დასამახსოვრებელ წლად შევა. ...">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta property="og:image" content="/static/images/tristan.png">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css">
    <script src="/static/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/30311c0b7a.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#sponsors").load("/templates/sponsors.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="/static/images/rashford.png">
        <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Marcus Rashford Mural</p>

    </div>
    <div class="language-button" id="change-language">
        <h2><i class="fa fa-language" aria-hidden="true"></i> &nbsp
            <p id="language">En</p>
        </h2>
    </div>

    <h1 class="en container-hidden">Rashford</h1>
    <h1 class="ge">რაშფორდი</h1>





    <div class="blog-content">



        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en container-hidden"> Football is always very exciting for its fans. So the finale of Euro
                    2020 was not an exception, where Italy beat England 3-2. The fate of the game was finally decided
                    when Marcus Rashford missed a penalty. This fact made him a target for the angry fans. </p>
                <p class="ge"> ფეხბურთი ნებისმიერ დროს განსაკუთრებულ ვნებათაღელვას იწვევს გულშემატკივრებში. ამ მხრივ,
                    განსხვავებულად არც ევრო 2020-ის ფინალს ჩაუვლია, სადაც იტალიამ ინგლისის ნაკრები ანგარიშით 3-2
                    დაამარცხა. თამაშის ბედი, საბოლოოდ, პენალებმა გადაწყვიტა, რომლის გატანაც ინგლისელმა ფეხბურთელმა
                    მარკუს რაშფორდმა ვერ შეძლო. ამის გამო იგი ფეხბურთის გაბრაზებულ გულშემატკივართა სამიზნედ იქცა.</p>
            </blockquote>
        </section>

        <p class="en container-hidden">
            Marcus Rashford, 23, is from Withington, Manchester. Right there, on one of the streets there is the large
            mural on the wall of a café. The mural, based on a photograph by Daniel Cheetham, is painted by street
            artist known as Akse. The mural features Marcus Rashford. The artwork was defaced by angry fans who started
            to damage the mural and wrote several swear words and insulting comments on it, which contained obvious
            elements of racism. Manchester Police started an investigation, meanwhile, Prime Minister Boris Johnson is
            to hold a meeting with social media firms regarding taking tougher action over racism. Peter Doherty, 46,
            who has owned the cafe for 12 years, said of the abusive graffiti that what happened is not right, though
            it's not the first time this has happened either. Ed Wellard, the founder of Withington Walls, the community
            street art project behind the mural also responded to that fact saying that those responsible for the
            vandalism should be educated rather than punished. As for the mural the street artist Akse, who created the
            portrait, has now repaired the damage. Although it is yet to be decided what will happen to the anti-racism
            messages of support.
            <br><br>
            Soon, hundreds of visitors who were heartbroken for the hate and racism towards Rashford flocked to the site
            leaving letters and supportive messages on the mural. As Rashford later wrote on Twitter, he was on the
            verge of tears when he saw a mural had been covered in supportive messages. Rashford said he was sorry for
            missing his penalty, he also thanked the people who started leaving supportive messages on Mural and made
            him feel that despite the missed penalty, he is still legend and admired by many.
        </p>
        <p class="ge">
            <br><br>
            23 წლის მარკუს რაშფორდი სამხრეთ მანჩესტერიდან, კერძოდ - ვიტინგტონიდან არის. სწორედ იქ, ერთ-ერთ ქუჩაზე
            მდებარე კაფის კედელზე დიდი მურალია გამოსახული. მურალი ფოტოგრაფი დენიელ ჩიტჰემის სურათის მიხედვით ქუჩის
            მხატვარმა აკსემ შექმნა. მასზე მარკუს რაშფორდია გამოსახული. აღსანიშნავია, რომ გაბრაზებულმა გულშემატკივრებმა
            სწორედ ამ მურალის დაზიანება დაიწყეს და მასზე შეურაცხმყოფელი სიტყვები დააწერეს, რომლებიც რასიზმის აშკარა
            ელემენტებს შეიცავდა. ამ საქმეზე პოლიციამ გამოძიება დაიწყო, პრემიერ მინისტრი ბორის ჯონსონი კი სოციალური
            მედიის წარომადგენლებთან შეხვედრას დაგეგმა, რათა რასიზმის წინააღმდეგ უფრო მკაცრი ზომების გატარებაზე იმსჯელონ.
            46 წლის პიტერ დოჰერტი, რომელიც 12 წელია იმ კაფის მფლობელია, რომლის კედელზეც მურალია გამოსახული, ამბობს, რომ
            რაც მოხდა სწორი არ არის, თუმცა დასძენს, რომ ეს პირველად ნამდვილად არ ხდება და რასიზმის შემთხვევები,
            მიუხედავად ყველაფრისა, ჯერ კიდევ მაინც ძალიან ხშირია. ამ ფაქტს გამოეხმაურა ვიტინგტონ ვოლსის თანადამფუძნებელი
            ედ უელარდი, რომელიც სტრიტ არტის საზოგადოებას უდგას სათავეში. სწორედ მან დაავალა თავის დროზე ქუჩის მხატვარ
            აკსეს მურალის შექმნა. ედ უელარდმა განაცხადა, რომ ისინი, ვინც ამ ვანდალიზმში მონაწილეობას იღებდნენ დასჯაზე
            მეტად განათლებას საჭიროებენ. რაც შეეხება თავად მურალს კი, აკსემ დაზიანებული ნაწილები უკვე ხელახლა გადახატა.
            თუმცა ჯერ-ჯერობით არ გადაუწყვეტიათ, რა შეიძლება მოიმოქმედონ იმ ასობით მესიჯთან დაკავშირებით, რომლებიც
            მურალზე რაშფორდის მხარდამჭერებმა მიაწებეს.
            <br><br>
            საქმე იმაშია, რომ მურალის დაზიანების დღიდან არ წყდება იმ გულშემატკივართა ნაკადი, რომელთაც გული დასწყდათ
            მარკუს რაშფორდისადმი მიმართული სიძულვილისა და რასიზმის გამო. ისინი ფურცლებზე წერენ მცირე მხარდამჭერ მესიჯებს
            და მურალზე აკრავენ. როგორც მოგვიანებით რაშფორდმა ტვიტერზე დაწერა, მას ცრემლები სდიოდა, როცა მხარდამჭერი
            წერილებით დაფარული მურალი დაინახა. მარკუს რაშფორდმა ბოდიშიც მოიხადა იმასთან დაკავშირებით, რომ პენალის გატანა
            ვერ შეძლო, თუმცა გამორჩეულად გადაუხადა მადლობა იმ ადამიანებს, რომელთაც მურალზე მისთვის წერილების დატოვება
            დაიწყეს და აგრძნობინეს, რომ მიუხედავად აცდენილი გოლისა, იგი ლეგენდაა და უამრავი თაყვანისმცემელი ჰყავს.
            ამ ადამიანებს შორის, რომლებიც მურალთან მიდიან, ძალიან ბევრი ქალი, კაცი და ბავშვია. ადამიანები მურალთან
            მიდიან თავიანთ ოჯახებთან ერთადაც, რათა რასიზმის წინააღმდეგ თავიანთი პროტესტი გამოხატონ და რაშფორდს თავისი
            მხარდაჭერა და სიყვარული ღიად დაანახონ.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static/images/rashford-penalty.png">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Marcus Rashford Peanlty</p>
        </div>

        <p class="en container-hidden">
            Among these people who go to Mural, there are many women, men and even children. People go to Mural with
            their families to protest against racism and show their support and love.
            The supportive messages say:
        </p>
        <ul class="en container-hidden">
            <li>Dear Marcus, please know that you are so admired and people find you an inspiration</li>
            <li>We stand with you. Love will always win. We’re proud of you</li>
            <li>Thank you for your passion, compassion and desire to change lives</li>
            <li>Thanks for everything. Keep up the good work. You are a hero and legend</li>
            <li>Marcus Rashford Manchester is proud of you</li>
        </ul>
        <p class="en container-hidden">
            A mural of Marcus Rashford has become a symbol of love and solidarity, after hundreds of well-wishers
            covered it with messages of support. This is another great example of how interactive street art is.
            Especially mural art, which can always be not only social themes , but also about sports, politics and etc.
            And most important part is that it definitely captures people’s attention, shows them specific issues, and
            engages them in dialogue.
        </p>
        
        <p class="ge">
            გულშემატკივართა წარწერებს შორის ხშირია წინადადებები, რომლებიც ამბობს:
            • 
            • 
            • 
            • 
        </p>
        <ul class="ge">
            <li>„ძვირფასო მარკუს, გთხოვ გახსოვდეს, რომ ყველა გაღმერთებს და ადამიანებისთვის შთაგონების წყარო ხარ.“</li>
            <li>„ჩვენ შენთან ვართ. სიყვარული ყოველთვის იმარჯვებს. ჩვენ შენით ვამაყობთ“</li>
            <li>„მადლობა ყველაფრისთვის, განაგრძე კარგი საქმეები კეთება, შენ გმირი და ლეგენდა ხარ.“</li>
            <li>„მარკუს რაშფორდ, მანჩესტერი შენით ამაყობს!“</li>
        </ul>
        <p class="ge">
            იმის შემდეგ, რაც მთელი მურალი სიყვარულისა და მხარდაჭერის გამოხატველი წერილებით დაიფარა, მურალი მარკუს
            რაშფორდის გამოსახულებით სოლიდარობისა და სიყვარულის სამუდამო სიმბოლოდ იქცა. ეს კიდევ ერთი ნათელი მაგალითია
            იმისა, თუ რამდენად ინტერაქციულია ქუჩის ხელოვნება. განსაკუთრებით მურალ არტი, რომელიც ყოველთვის შეიძლება
            ეხმიანებოდეს არამხოლოდ სოციალურ თემებს, არამედ სპორტს, პოლიტიკასა და მრავალ სხვას. და ყველაზე მთავარიც ისაა,
            რომ იგი აუცილებლად იპყრობს ადამიანთა ყურადღებას, აჩვენებს მათ კონკრეტულ პრობლემატიკას და დიალოგში შეჰყავს
            ისინი.
        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static//images/rashford-pride.png">
            <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; "></p>
        </div>

        <p class="en  container-hidden" style="text-align: right;"><b>By Kristine Surguladze</b></p>
        <p class="ge" style="text-align: right;"><b>ავტორი: ქრისტინე სურგულაძე </b></p>
    </div>


    <script src="/static/js/languageChanger.js"></script>
    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>