<!DOCTYPE html>
<html>

<head>

    <title> სტრიტ არტი კოსმოსში</title>
    <meta charset="utf-8">
    <meta name="description" content="2020 წელი კაცობრიობის ისტორიაში ნამდვილად გამორჩეულ და დასამახსოვრებელ წლად შევა. ...">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta property="og:image" content="/static/images/tristan.png">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css">
    <script src="/static/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/30311c0b7a.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#sponsors").load("/templates/sponsors.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="/static/images/tristan.png">
        <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Work By Tristan Eaton</p>

    </div>
    <div class="language-button" id="change-language">
        <h2><i class="fa fa-language" aria-hidden="true"></i> &nbsp
            <p id="language">En</p>
        </h2>
    </div>

    <h1 class="en container-hidden"> Steet Art In Space</h1>
    <h1 class="ge"> სტრიტ არტი კოსმოსში</h1>





    <div class="blog-content">



        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p class="en container-hidden">2020 will be a truly remarkable and memorable year in human history. Despite the severity
                    of the Covid pandemic, many things have happened in the past year that have given people faith that,
                    through kindness, hope and science, humanity has overcome adversity many times, and it will continue
                    to do so. One such important event and the greatest advancement in science was the launch of the
                    Elon Musk’s SpaceX to the ISS. There were also astronauts on board, who had to stay at the space
                    station for months. Their journey into space was watched by millions of people at once. </p>
                <p class="ge"> 2020 წელი კაცობრიობის ისტორიაში ნამდვილად გამორჩეულ და დასამახსოვრებელ
                    წლად შევა. აღსანიშნავია, რომ მიუხედავად კოვიდ პანდემიის სიმძიმისა, გასულ წელს ბევრი ისეთი რამ მოხდა,
                    რამაც ადამიანებს რწმენა ჩაუნერგა, რომ სიკეთის, იმედისა და მეცნიერების წყალობით, კაცობრიობამ
                    სირთულეები ბევრჯერ დაძლია და ეს მომავალშიც ასე გაგრძელდება. მსგავსი ასეთი მნიშვნელოვანი მოვლენა და
                    მეცნიერების უდიდესი წინსვლა ილონ მასკის მიერ სფეისიქსის საერთაშორისო კოსმოსურ სადგურზე გაშვება იყო.
                    ხომალდში კოსმონავტებიც იმყოფებოდნენ, რომლებიც კოსმოსურ სადგურზე თვეების მანძილზე უნდა
                    დარჩენილიყვნენ. მათ კოსმოსში გამგზავრებას კი ერთდროულად მილიონობით ადამიანი ადევნებდა თვალს. </p>
            </blockquote>
        </section>

        <p class="en container-hidden">
            Not only man but also man-made artwork was present during the launch. Clearly, this was not the first time
            that any work of art had been sent from Earth to space. This time Tristan Eaton was commissioned by Elon
            Musk to create the artwork that would be sent up at the ISS.
        </p>
        <p class="ge">
            <br><br>
            აღსანიშნავია, რომ გაშვებისას ხომალდზე მხოლოდ ადამიანი კი არა, არამედ ადამიანის შექმნილი ხელოვნების ნიმუშიც
            იმყოფებოდა. ცხადია, ეს პირველი შემთხვევა არ იყო, როდესაც დედამიწიდან კოსმოსში ხელოვნების რაიმე ნიმუში
            იგზავნებოდა, თუმცა ამჯერად კოსმოსის ღია სივრცე სფეისიქსიდან ტრისტან იტონის ნამუშევარმა იხილა. მას ილონ
            მასკმა პირადად დაუკვეთა ნამუშევრის შესრულება.

        </p>

        <p class="en container-hidden">
            Tristan Eaton, a Los Angeles painter, street artist and designer, has work in the Museum of Modern Art’s
            permanent collection. However for this time the street artist joined a very rarified group of artists
            including Andy Warhol, Robert Rauschenberg, and Trevor Paglen to actually send their artwork into space.
            <br><br>
            Eaton created a series of indestructible, two-sided gold, brass, and aluminum artworks for the historic
            flight. “When SpaceX asked me to create art to join these astronauts in space, I wanted to make something
            inspirational,” he explained. “Looking down from space to see all of Humankind together on this tiny planet
            might remind you how much history and potential we have. Yet we have so much further to go.”


        </p>
        <p class="ge">
            ტრისტან იტონი ლოს-ანჯელესში მოღვაწე ჭნობილი მხატვარი, სტრიტ არტისტი და დიზაინერია. მისი ზოგიერთი ნამუშევარი
            თანამედროვე ხელოვნების მუზეუმის მუდმივ კოლექციაშიც კია შესული. თუმცა ამჯერად იგი იმ ცნობილ და გამორჩეულ
            მხატვართა ჩამონათვალს შეუერთდა, როგორებიც არიან ენდი უორლჰოლი, რობერტ როშენბერგი და ტრევორ პაგლენი, რომელთაც
            თავიანთი ნამუშევრები კოსმოსში გაგზავნეს.
            <br><br>
            ტრისტან იტონმა ისტორიული ფრენისთვის ურღვევი, ორმხრივი ოქროს, სპილენძის და ალუმინის ნამუშევრები შექმნა.
            „როდესაც სფეისიქსმა ნამუშევარი დამიკვეთა, რომელიც ასტრონავტებთან ერთად უნდა წასულიყო კოსმოსში, გადავწყვიტე,
            რაიმე შთამაგონებელი შემექმნა“, განმარტა მან, „როცა ზემოდან ამ პატარა პლანეტას დასცქერი, რომელზეც ყველა
            ადამიანი ერთად ცხოვრობს, ალბათ აუცილებლად დაფიქრდები იმაზე, თუ რამხელა ისტორია და პოტენციალი გვაქვს. თუმცა
            ჯერ კიდევ უამრავი რამეა გასაკეთებელი.“


        </p>

        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static/images/news-052820c.jpg">
        </div>
        <p class="en container-hidden">
            Each artwork is designed for one of the five astronauts that will be up at the ISS. Each plate is double
            sided—a gesture meant to “represent the duality of humankind, our past and our future,” according to the
            artist—and features a variety of symbols. The plates were returned to Earth last year with astronauts.
            <br><br>
            It seems that Elon Musk's interest in street art did not end there. In 2021 Elon Musk is asking artists to
            submit some “awesome graffiti” designs to decorate Tesla’s new Berlin factory. Now that the construction has
            been officially completed after 10 months, for the finishing touches Musk hopes to make a factory “a jewel
            of Brandenburg” with some graffiti to cover its expansive walls.
            <br><br>
            Elon Musk tweeted himself some in-progress drone shots of the site, adding that it would be covered in
            graffiti. However for the first time everyone was thinking that it was a kind of a joke. The same
            information was later announced on Tesla's official website. This time they were officially calling on the
            artists to submit their ideas and designs.
            <br><br>
            Nowadays Tesla has an official email - GigaBerlinArt@Tesla.com, where street artists can submit their
            artwork and designs as well as their ideas on what the Tesla factory walls in Germany should look like.


        </p>

        <p class="ge">
            ტრისტან იტონმა სულ ხუთი ფირფიტა შექმნა, თითოეული თითო კოსმონავტისთვის. აღსანიშნავია, რომ ხუთივე ფირფიტა
            ორმხრივია, რაც იტონის თანახმად სიმბოლურად კაცობრიობის დუალიზმს, აგრეთვე წარსულსა და მომავალს გამოსახავს.
            ამასთანავე ფირფიტები სხვა უამრავი სიმბოლოს მატარებელიცაა. ფირფიტები გასულ წელს კოსმონავტებთან ერთად
            დაუბრუნდნენ დედამიწას.
            <br><br>
            როგორც ჩანს, ილონ მასკის სტრიტ არტით დაინტერესება ამით არ დასრულებულა. 2021 წელს მან მხატვრებს მოუწოდა
            წარმოედგინათ თავიანთი დიზაინი ბერლინში მშენებარე ტესლას ახალი ქარხნის გარე კედლების გასალამაზებლად. როდესაც
            ათ თვიანი მუშაობის შედეგად ქარხნის მშენებლობა საბოლოოდ დასრულდა, საბოლოო შტრიხების შეტანისას ილონ მასკი
            იმედოვნებდა, რომ თუკი მის უზარმაზარ კედლებს „მაგარი გრაფიტით“ დაფარავდა, იგი ამ ქარხანას „ბრანდერბურგის
            სამკაულად“ აქცევდა.
            <br><br>
            ილონ მასკმა ტვიტერზე თავად დაპოსტა კედლების სურათები და თან დაურთო ტექსტი, რომლითაც იუწყებოდა, რომ კედლები
            გრაფიტით მოიხატებოდა, თუმცა თავდაპირველად ეს ყველამ ხუმრობად მიიღო. მოგვიანებით იგივე ინფორმაცია ტესლას
            ოფიციალური გვერდიდანაც გააჟღერეს. ამჯერად ისინი ოფიციალურად მოუწოდებდნენ მხატვრებს, რომ შესარჩევი
            კონკურსისთვის თავიანთი ნახატები გაეგზავნათ.
            <br><br>
            დღესდღეობით ტესლას ოფიციალური მეილი აქვს შექმნილი, GigaBerlinArt@Tesla.com, რომელზეც მხატვრებს შეუძლიათ
            თავიანთი ნამუშევრები და იდეები გაგზავნონ იმასთან დაკავშირებით, თუ როგორ უნდა გამოიყურებოდეს საბოლოოდ ტესლას
            ქარხნის კედლები გერმანიაში.

        </p>
        <div class="image-wrapper" style="width: 100%; text-align: center;">
            <img style="width: 90%; display: inline-block;" src="/static//images/S2JAHQ6ZQVH2XC4MSKD3YG6EJY.jpg">
                        <p style="color: grey; margin-top: 1px; padding-top: 1px; font-size: 14px; ">Tristan Eaton </p>
        </div>

        <p class="en  container-hidden" style="text-align: right;"><b>By Kristine Surguladze</b></p>
        <p class="ge" style="text-align: right;"><b>ავტორი: ქრისტინე სურგულაძე </b></p>
    </div>


    <script src="/static/js/languageChanger.js"></script>
    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>