<!DOCTYPE html>
<html>
  <head>
    <title>Tbilisi Mural Fest</title>
    <meta charset="utf-8" />
    <meta name="description" content="Tbilisi Mural Fest" />
    <meta
      name="keywords"
      content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival"
    />
    <meta name="author" content="Tbilisi Mural Fest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/TmpEvent.css" />
    <script
      src="/static/js/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>
    <script src="/static/js/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#header").load("../templates/header.html");
        $("#sponsors").load("../templates/sponsors.html");
        $("#footer").load("../templates/footer.html");
      });
    </script>
  </head>

  <body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="Main-Wrapper">
      <br />
      <div class="aligner" style="text-align: center">
        <div class="blog-card">
          <div
            class="blog-card-image"
            style="
              background-image: url(/static/images/Faith-blog/Facebook\ Post\ 940x788\ px.jpeg);
            "
          ></div>
          <div class="blog-card-content">
            <h2>Faith XLVII - "Solar Logos"</h2>
            <div class="blog-card-description">
              <p>
                In the fall of 2021, many famous artists visited the streets of
                Tbilisi again as part of the Tbilisi Mural Fest. One of them was
                Liberty Du, known as Faith XLVII. Liberty is a South African
                multi-disciplinary artist. From 1997 to present she has created
                her works in 42 countries.....
                <br /><br />
              </p>
            </div>
            <a href="Blog/faith.html">View More</a>
          </div>
        </div>

        <br />

        <div class="blog-card">
          <div
            class="blog-card-image"
            style="background-image: url(/static/images/rashford.png)"
          ></div>
          <div class="blog-card-content">
            <h2>Rashford</h2>
            <div class="blog-card-description">
              <p>
                Football is always very exciting for its fans. So the finale of
                Euro 2020 was not an exception, where Italy beat England 3-2.
                The fate of the game was finally decided when Marcus Rashford
                missed a penalty. This fact made him a target for the angry
                fans....
                <br /><br />
              </p>
            </div>
            <a href="Blog/rashford.html">View More</a>
          </div>
        </div>

        <br />

        <div class="blog-card">
          <div
            class="blog-card-image"
            style="background-image: url(/static/images/tristan.png)"
          ></div>
          <div class="blog-card-content">
            <h2>Street Art In Space</h2>
            <div class="blog-card-description">
              <p>
                2020 will be a truly remarkable and memorable year in human
                history. Despite the severity of the Covid pandemic, many things
                have happened in the past year that have given people faith
                that, through kindness, hope and science, humanity has overcome
                adversity many times, and it will continue to do so. One such
                important event and the greatest advancement in science was the
                launch of the Elon Musk’s SpaceX to the ISS...
                <br /><br />
              </p>
            </div>
            <a href="Blog/Space-Art.html">View More</a>
          </div>
        </div>

        <br />

        <div class="blog-card">
          <div
            class="blog-card-image"
            style=" background-image: url(/static/images/Profile\ Pictures/Noah.webp);"
          ></div>
          <div class="blog-card-content">
            <h2>Aphe & Noah And Kakabadze</h2>
            <div class="blog-card-description">
              <p>
                In Tbilisi, on Zaza Panaskertel-Tsitsishvili Street, one can see
                a huge mural on the walls of a residential building, created in
                2020 by Oliver Hollatz and Noah Kauertz, also known as Aphe&
                Noah. The mural can attract people’s attention for many reasons,
                however, it should be noted that one particular detail makes it
                even more distinctive. . ...
                <br /><br />
              </p>
            </div>
            <a href="Blog/aphe-noah.html">View More</a>
          </div>
        </div>

        <br />

        <div class="blog-card">
          <div
            class="blog-card-image"
            style="
              background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/93/Libro_Los_Viejos_Abuelos_Foto_68.png);
            "
          ></div>
          <div class="blog-card-content">
            <h2>Monumantaslism And Mural Art</h2>
            <div class="blog-card-description">
              <p>
                Art can have a huge impact on a person, on their conscious or
                unconscious. Over the centuries it has repeatedly become a
                weapon for empires, regimes, or religions that seek to influence
                people. Such a propagandistic approach has always successfully
                used art as one of the best means of conveying a certain
                ideology to ...
                <br /><br />
              </p>
            </div>
            <a href="Blog/Monumentalism.html">View More</a>
          </div>
        </div>

        <br />

        <div class="blog-card">
          <div
            class="blog-card-image"
            style="
              background-image: url(http://tours.photos/wp-content/uploads/2018/01/Cueva_de_las_manos_Patagonia-1-730x350.jpg);
            "
          ></div>
          <div class="blog-card-content">
            <h2>Street Art - A Brief Intro</h2>
            <div class="blog-card-description">
              <p>
                For centuries art has been the finest way of self-expression.
                Whether an individual is in harmony or in conflict with
                circumstances around them, they still strive to express and
                transfer their feelings to others. The ways of expression have
                always varied. Especially because humanity relentlessly keeps
                looking for and finds new ways for art ...
                <br /><br />
              </p>
            </div>
            <a href="Blog/Street-art-history.html">View More</a>
          </div>
        </div>

        <br />
        <div class="blog-card">
          <div
            class="blog-card-image"
            style="background-image: url(/static/images/article\ image.jpg)"
          ></div>
          <div class="blog-card-content">
            <h2>Vibrant World Of Street Art</h2>
            <div class="blog-card-description">
              <p>
                At first glance, it may seem that some forms of street art are
                easily created, which is false. It is a conceptual,
                multi-layered art and lots of aspects need to be taken into
                account while making a single finished work. A painting made by
                a street artist must be memorable, catchy, comprehensible and at
                the same time it needs to contain a certain message and idea in
                order to be imprinted in a consciousness of an individual as
                soon ...
                <br /><br />
              </p>
            </div>
            <a href="Blog/newTmp.html">View More</a>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

    <div id="sponsors"></div>
    <br />
    <div id="footer"></div>
  </body>
</html>
