<!DOCTYPE html>
<html>

<head>

    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/TmpEvent.css">
    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    <script src="/static/js/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("../templates/header.html");
            $("#sponsors").load("../templates/sponsors.html");
            $("#footer").load("../templates/footer.html");
        });
    </script>

</head>

<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="Main-Wrapper">
        <br>
        <br>
        <div class="aligner" style="text-align: center;">


            <div class="blog-card">
                <div class="blog-card-image" style="background-image: url(/static/images/Event-Images/workshop.jpg);">
                </div>
                <div class="blog-card-content">
                    <h2>Workshop</h2>
                    <div class="blog-card-description">
                        <p>
                            On the 26th of September, Co-founders of the Tbilisi Art Festival are organizing a workshop,
                            in association with the Tbilisi Art Academy. The one-day workshop, lead by top european
                            artists, will be accessible to all students of the Tbilisi Art Acadedemy and
                            anyone interested in street art.<br>
                            <br><br>
                        </p>
                    </div>
                    <a href="/templates/Events/workshop.html">View More</a>
                </div>
            </div>

            <br>
            <div class="blog-card">
                <div class="blog-card-image" style="background-image: url(/static/images/Event-Images/AcademyOfArts.png);">
                </div>
                <div class="blog-card-content">
                    <h2>Overview by Tbilisi State Academy Of Arts</h2>
                    <div class="blog-card-description">
                        <p>
                            26 სექტემბერს, TBILISI MURAL FEST-ის ფარგლებში, სამხატვრო აკადემიამ სტრიტ არტის ცნობილ
                            მხატვრებს უმასპინძლა. ბერლინელმა მხატვრებმა ჩაატარეს ვორქშოფი, რომლის ფარგლებში მოიხატა
                            სამხატვრო აკადემიის ერთ-ერთი კორპუსის კედელი.
                            <br><br>
                        </p>
                    </div>
                    <a href="/templates/Events/academyOfArts.html">View More</a>
                </div>
            </div>

        </div>
    </div>
    <br><br>


    <div id="sponsors"></div>
    <br>
    <div id="footer"></div>
</body>

</html>