<style>
    .social-icons-footer ul li a i {
        color: white;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .social-icons-footer ul li a i:hover {
        color: grey;
    }

    .social-icons-footer ul {
        display: flex;
        align-items: center;
    }

    .social-icons-footer h1 {
        margin: 40px 0;
    }

    .social-icons-footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }



    .social-icons-footer ul li a {
        display: block;
        font-size: 2em;
        margin: 0 5px;
        text-decoration: none;
    }





</style>

<div class="Footer">
    <div class="Footer-text">
        <p style="font-size:17px; color:white;">© Tbilisi Mural Fest 2019 | All Rights reserved</p>

    </div>
    <div class="social-icons-footer">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li><a href="https://www.facebook.com/TbilisiMuralFest"><i class=" icon-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/tbilisimuralfest/?hl=en"><i class="icon-instagram"></i></a></li>

        </ul>
    </div>
</div>