<!DOCTYPE html>
<html>

<head>

    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/TmpEvent.css">
    <script src="/static/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#sponsors").load("../templates/sponsors.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="https://wallpaperaccess.com/full/124578.jpg">
    </div>
    <h1>Hey, This Is A Standard Format Post.</h1>
    <div class="blog-content">
        <p>Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est
            eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure
            velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam
            consequat non laborum adipisicing aliqua ea nisi sint. Unde quod at minus quia velit ipsa ea qui.</p>

        <p> Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est
            eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure
            velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam
            consequat non laborum adipisicing aliqua ea nisi sint ut quis proident ullamco ut dolore culpa occaecat ut
            laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat in adipisicing in
            amet Ut nulla nisi non ut enim aliqua laborum mollit quis nostrud sed sed.</p>
        <img style="width: 100%;" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">

        <h1>Heading 1</h1>
        <p>Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est
            eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure
            velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam
            consequat non laborum adipisicing aliqua ea nisi sint. Unde quod at minus quia velit ipsa ea qui.</p>

        <section class="blockquote-section">
            <blockquote class="classy-bq">
                <p>A partial list of Walker’s credits could make
                    P.T. Barnum weak in the knees. He has
                    produced spectaculars for world’s fairs at New
                    York, Spokane, Knoxville and New Orleans, the
                    1960 Winter Olympics at Squaw Valley, the 1980
                    Winter Olympics at Lake Placid, half-time
                    shows for three Super Bowls and 10 Pro Bowls,
                    inaugurals for Presidents Nixon and Reagan,
                    Fourth of July shows at stadiums in seven U.S.
                    cities, the finale to the film “The Music Man”
                    and the opening ceremonies for Disneyland in
                    1955..</p>
            </blockquote>
        </section>
        <p>Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est
            eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure
            velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam
            consequat non laborum adipisicing aliqua ea nisi sint. Unde quod at minus quia velit ipsa ea qui.</p>
    </div>


    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>