<!DOCTYPE html>
<html>

<head>

    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/TmpEvent.css">
    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    <script src="/static/js/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("../templates/header.html");
            $("#sponsors").load("../templates/sponsors.html");
            $("#footer").load("../templates/footer.html");
        });
    </script>

</head>

<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="Main-Wrapper">
        <br>
        <h1 style="font-family: Gilroy_Heavy;">Blog</h1>
        <div class="aligner" style="text-align: center;">


            <div class="blog-card">
                <div class="blog-card-image"
                    style="background-image: url();">
                </div>
                <div class="blog-card-content">
                    <h2>Article Name</h2>
                    <div class="blog-card-description">
                        <p>
                            Brief Info
                            <br><br>
                        </p>
                    </div>
                    <a href="Blog/Street-art-history.html">View More</a>
                </div>
            </div>

            <br>
            

        </div>
    </div>
    <br><br>


    <div id="sponsors"></div>
    <br>
    <div id="footer"></div>
</body>

</html>