<div class="container">
    <!-- <div class="Section-Title">
      <h1>Our Partners</h1>
   </div> -->
    <br>
    <section class="customer-logos slider">
        <div class="slide"><img src="/static/images/Sponsors/Adjara-group.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Alpina.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Berlin_Logo.svg.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Bundesrepublik.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/issa-logo-com.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/King-david.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Montana-cans.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Re-Bank.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Tbilisi-city-hall.webp" loading="lazy"></div>
        <div class="slide"><img src="/static/images/Sponsors/Artarea.webp" loading="lazy"></div>

    </section>
</div>
<script>
    $(document).ready(function() {
        $('.customer-logos').slick({
            centerMode: true,
            slidesToShow: 9,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            draggable: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });
</script>