<div class="container">
  <!-- <div class="Section-Title">
      <h1>Our Partners</h1>
   </div> -->
  <br />
  <section id="sponsor-slider" class="customer-logos slider">

    <template id="sponsor-card">
      <div class="slide">
        <img id="image-source" src="" loading="lazy" />
      </div>
    </template>


  </section>
</div>
<script>
  function createSponsorSlide(slide) {
    const t1 = document.getElementById("sponsor-card"); // Removed '#' from the ID
    const clone = t1.content.cloneNode(true);

    clone.querySelector("#image-source").src = slide.imageLink;
    document.getElementById("sponsor-slider").appendChild(clone);
  }

  function initializeSlider() {
    $(".customer-logos").slick({
      centerMode: true,
      slidesToShow: 9,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1500,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      draggable: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 4,
          },
        },
        {
          breakpoint: 520,
          settings: {
            slidesToShow: 3,
          },
        },
      ],
    });
  }

  $.getJSON("/sponsors.json", function(json) {
    for (let sponsor of json) {
      createSponsorSlide(sponsor);
    }
    // Initialize or Re-initialize the slider here, after the slides have been added
    initializeSlider(); // Moved slider initialization here
  });

  // Removed the document.ready initialization to prevent premature initialization
</script>