<!DOCTYPE html>
<html lang="en">

<head>
    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords" content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dimsemenov/Magnific-Popup/master/dist/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/TmpNewVideo.css">

    <<script src="/static/js/jquery-2.2.0.min.js" type="text/javascript">
        </script>
        <script src="/static/js/slick.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/dimsemenov/Magnific-Popup/master/dist/jquery.magnific-popup.js" crossorigin="anonymous"></script>
        <script>
            $(function() {
                $("#header").load("../templates/header.html");
                $("#sponsors").load("../templates/sponsors.html");
                $("#footer").load("../templates/footer.html");
            });
        </script>
</head>

<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="content">
        <div class="video-gallery">
            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/vv_-nRioJHs/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCmYxyaUVYbbEeJ24otg7DJhukt9A" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Monekybird</h2>
                        <p>2021</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=vv_-nRioJHs"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/yG4pQXN4i9E/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC82wJCGWKyWdn8w1oTimeMHhw9HA" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Aphe & Noah</h2>
                        <p>2021</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=yG4pQXN4i9E"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/SFKxmxcwSNU/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDpntHwJZ1k606But2LCATJXBjBIg" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Case Maclaim</h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=4RfkWOOjyoc"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/4RfkWOOjyoc/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBxIVyZBog42Fn51p43uyTQqbJh9A" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>FAITH XLVII</h2>
                        <p>2021</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=4RfkWOOjyoc"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/X-P95fJa49Y/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBw_KEFvmLfsEUSDv8GvxA_j_jrwQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Innerfields</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=X-P95fJa49Y"></a>
                </div>
            </div>

            

            <div class="gallery-item ">
                <img src="https://i.ytimg.com/vi/00yMTBOVyjQ/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC_aq94j_IzHIB-TjYxDiDWt4x_aw" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Case Maclaim</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=00yMTBOVyjQ"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/37DjnPb1MwU/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBa71F8vKGmyuMnylWxvQrzK6safA" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Dante</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=37DjnPb1MwU"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/WhStvO_k_xU/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBr3XFsCOULg5yEX9YF7cIFWHirrQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Aphe & Noah</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=WhStvO_k_xU"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/ZE6Z6fwbcLM/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAAYi4nxY9t7FdjYi2o3ohFlMwppg" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Innerfields</h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=ZE6Z6fwbcLM"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/gctdKHUi790/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCNgpg4WwOy65PF3P5qqojxD1GWgg" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Kera</h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=gctdKHUi790"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/q_EVsMaoFQw/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCKfzezMM40524cAzAOzI4xk4j5aw" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Giorgi Maskharashvili</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=q_EVsMaoFQw"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/XWGuCZ4U8l0/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBJw4Sm4MxnBiqYyI4hJ_7KrtbbFQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Luka Japaridze & V45 </h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=XWGuCZ4U8l0"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/m1KSUbpzjuI/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB318Id_w1MXRJNGy_fg3FlY1JVYQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>El Bocho</h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=m1KSUbpzjuI"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/xvhvm7NXxmY/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBdC3vbC1zSPC1aRv4r4b0h1h74yw" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Collin van der Sluijs</h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=xvhvm7NXxmY"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/WnkbT3NdADo/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDJuUUgiG7adrzACttYPxhDyz7-JQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>QUINTE55ENZ </h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=WnkbT3NdADo"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/UrqicBIXmiY/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCswJZQfrVFm7Ta6Iu6iMG8o1-mEQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Musya Qeburia </h2>
                        <p>2019</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=UrqicBIXmiY"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/xmtMs8L1Lls/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBGTfBuY_O8UwdS1-PC3pVhk7Y6ww" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Artez - Kiu Mural Fest </h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=xmtMs8L1Lls"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/KAM3GMs28Uw/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAULBHmnPVoyXc4jiV2t4f5n9NohQ" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>INO - Kiu Mural Fest </h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=KAM3GMs28Uw"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/Fx5s_PUGHlk/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCkfyeyMqo9npiAHKlsLp76XaYH3Q" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Innerfields - Kiu Mural Fest </h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=Fx5s_PUGHlk"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/IkCVj2XmBP0/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAFJNtT-_dGxYnENbZca7k7nMVBKg" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Irakli Qadeishvili & Zviad Esartia - Kiu Mural Fest</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=IkCVj2XmBP0"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/S6bonpEwYAk/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAtsSgq3pc-pWskVawXB2ZstOxgLA" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Case Maclaim - Kiu Mural Fest </h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=S6bonpEwYAk"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/QSaUuu4vr6Q/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDOQyUT7gOhg4mVdGRqk34aRn3XJg" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>Matthias Mross - Kiu Mural Fest</h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=QSaUuu4vr6Q"></a>
                </div>
            </div>

            <div class="gallery-item">
                <img src="https://i.ytimg.com/vi/ggPfiEScRKY/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB0uCZbnHeDpxdDwYfaoON9Nima2A" />
                <div class="gallery-item-caption">
                    <div>
                        <h2>ARTEZ - Kiu Mural Fest </h2>
                        <p>2020</p>
                    </div>
                    <a class="vimeo-popup" href="https://www.youtube.com/watch?v=ggPfiEScRKY"></a>
                </div>
            </div>
        </div>
    </div>


    <div id="sponsors"></div>
    <br>
    <div id="footer"></div>
    <script>
        $(document).ready(function() {
            $('.video-gallery').magnificPopup({
                delegate: 'a',
                type: 'iframe',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
</body>

</html>