<!DOCTYPE html>
<html lang="en">

<head>
    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords" content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dimsemenov/Magnific-Popup/master/dist/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/TmpNewVideo.css">

    <<script src="/static/js/jquery-2.2.0.min.js" type="text/javascript">
        </script>
        <script src="/static/js/slick.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/dimsemenov/Magnific-Popup/master/dist/jquery.magnific-popup.js" crossorigin="anonymous"></script>
        <script>
            $(function() {
                $("#header").load("../templates/header.html");
                $("#sponsors").load("../templates/sponsors.html");
                $("#footer").load("../templates/footer.html");
            });
        </script>
</head>

<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="content">
        <div class="video-gallery">

            <template id="video-template">
                <div class="gallery-item">
                    <img src="" alt="Gallery Image"/>
                    <div class="gallery-item-caption">
                        <div>
                            <h2></h2>
                            <p></p>
                        </div>
                        <a class="vimeo-popup" href=""></a>
                    </div>
                </div>
            </template>
        </div>
    </div>


    <div id="sponsors"></div>
    <br>
    <div id="footer"></div>
    <script>
        $(document).ready(function() {
            // Assuming your JSON is stored in a file named "gallery-data.json"
            $.getJSON("/videos.json", function(data) {
                const template = document.getElementById("video-template").content;
                const container = $(".video-gallery");
        
                data.forEach(item => {
                    const clone = document.importNode(template, true);
                    clone.querySelector("img").src = item.imageUrl;
                    clone.querySelector("h2").textContent = item.title;
                    clone.querySelector("p").textContent = item.year;
                    clone.querySelector("a").href = item.videoUrl;
                    container.append(clone);
                });
        
                // Initialize magnificPopup here if necessary, to ensure it works with dynamically added content
                $('.video-gallery').magnificPopup({
                    delegate: 'a',
                    type: 'iframe',
                    gallery: {
                        enabled: true
                    }
                });
            });
        });
        </script>
        
</body>

</html>