<!DOCTYPE html>
<html>

<head>

    <title> Tbilisi Mural Fest </title>
    <meta charset="utf-8">
    <meta name="description" content="Tbilisi Mural Fest">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Faster.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ArtistPage.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="/static/js/jquery-3.6.3.min.js" type="text/javascript"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
</head>


<body>
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>


    <div class="container">
        <main>
            <div class="row">
                <div class="left col-lg-4">
                    <div class="photo-left">
                        <img class="photo" src="/static/images/Profile Pictures/1010.webp" />
                    </div>

                    <hr>
                    <div class="Section-Title">
                        <h1>1010</h1>
                    </div>
                    <hr>

                    <p class="desc">1010 is a Hamburg-based contemporary artist known for his enigmatic, portal-like
                        street art illusions on walls around the world. Originally from Poland, 1010 moved with his
                        parents to Germany, when he was eight years old. For more than a decade, the artist has been
                        painting walls and making papercuts. Previously he has created contemporary abstract birds and
                        snakes, with some taking on tie-dye and painterly textures with an almost computer generated
                        smoothness. For the past few years 1010 has been mostly focused on an abstract concept of making
                        “holes on the walls”.</p>

                    <div class="container">
                        <div class="social-icons">
                            <ul>
                                <li><a href="https://www.facebook.com/1010art/"><i class="icon-facebook"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/1010zzz/?hl=en"><i
                                            class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right col-lg-8 verticalCenter">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"> <img src="image00007.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00038.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00039.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00040.jpeg" /></div>
                            <div class="swiper-slide"> <img src="image00044.jpeg" /></div>


                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- Swiper JS -->
                    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script src="/static/js/swiper.js"></script>
                </div>
        </main>
    </div>

    <div id="footer"></div>
</body>

</html>