<!DOCTYPE html>
<html>

<head>

    <title> სტრიტ არტის მრავალფეროვანი სამყარო</title>
    <meta charset="utf-8">
    <meta name="description" content="ერთი შეხედვით მნახველს შესაძლოა მოეჩვენოს, რომ სტრიტ არტის ...">
    <meta name="keywords"
        content="Tbilisi,Mural,Festival,Fest,HRVB,Case,Grafiti,Tbilisi Mural Fest, Tbilisi Mural Festival">
    <meta name="author" content="Tbilisi Mural Fest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TmpEvent.css">
    <script src="/static/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/30311c0b7a.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#header").load("/templates/header.html");
            $("#sponsors").load("/templates/sponsors.html");
            $("#footer").load("/templates/footer.html");
        });
    </script>
    <style>
        .map {
            display: inline-block;
            height: 600px;
            width: 100%;
            padding: 0;
        }
    </style>
</head>

<body style="text-align: center;">
    <div id="header"></div>
    <div class="nav-bar-spacer"></div>

    <div class="blog-main-image">
        <img src="/static/images/Event-Images/workshop.jpg">
    </div>

    <h1 class="en">Workshop</h1>
    <div class="blog-content">
        <p class="en">On the 26th of September, Co-founders of the Tbilisi Art Festival are organizing
            a workshop, in association with the Tbilisi Art Academy. The one-day workshop, lead by top european artists,
            will be accessible to all students of the Tbilisi Art Acadedemy and anyone interested in street art.
            The Tbilisi Mural Festival, the first of it's kind in Georgia, organized by the city halls of Berlin and
            Tbilisi, will take place from the 17th of september, all through the 25th. During the festival, world-famous
            street artists will paint 10 murals in the streets of Tbilisi.
            The Tbilisi Mural Festival, the first of it's kind in Georgia, organized by the city halls of Berlin and
            Tbilisi, will take place from the 17th of september, all through the 25th. During the festival, world-famous
            street artists will paint 10 murals in the streets of Tbilisi.
            The main focus of this year's festival are artists from Berlin, but alongside them you'll be able to enjoy
            the work of Georgian street artists aswell. During the festival you'll be able to attend various
            meet-and-greets with artists, open workshop and disscusion from podium about street art and urban
            development.</p>
        <iframe class="map" src="https://bit.ly/2lVHgXh" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>


    <script src="/static/js/languageChanger.js"></script>
    <div id="sponsors"></div>
    <hr>
    <div id="footer"></div>

</body>

</html>